<%= form_for @user, url: update_profile_path(@user) do |f| %>
    <div class="col-sm-12">
      <% if !@user.finished_profile? %>
        <div class="alert-warning profile-message">
          <p>
            Your profile is <strong><%= @user.profile_progress_percent %>%</strong> Complete.
          </p>
          <p>
            Complete <strong><%= current_user.profile_elements_left %> More Questions</strong> to Start Receiving Matches.
          </p>
        </div>
      <% end %>
      <h3 class='text-center'>Your Matching Profile <section class="small muted"> * indicates a field <strong>required</strong> to receive Recommended Products & Matches</section></h3>
      <div class="row">
        <section class="col-sm-3"> 
          <table>
            <tr>
              <%= f.label :avatar, "Profile Picture*" %><br>
              <td>
                <%= medium_profile_picture(@user) %> 
              </td>
              <td>
                <div class="form-group">
                  <%= f.file_field :avatar %>
                  <p class="help-block">Upload a profile image</p>
                </div>
              </td>
            </tr>
          </table>
        </section>
        <div class="col-sm-3">
          <section>
            <%= f.label :org_name, "#{current_user.bank? ? 'Bank or Fund' : 'Business'} Name*" %>
            <%= f.text_field :org_name, class:"form-control required" %>
          </section>
          <section>
            <%= f.label :position, "Your Position*" %>
            <%= f.text_field :position, class:"form-control required" %>  
          </section>
        </div>
        <div class='col-sm-1'>
          <section>
            <%= f.label :hq_state, "State*" %>
            <%= f.select :hq_state, options_for_select(Location.all[1..-1].collect {|l| l.name }, @user.hq_state), { prompt: "State" }, class:'form-control required' %>  
          </section>
          <section>
            <%= f.label :zip_code, "Zip*" %>
            <%= f.text_field :zip_code, class:"form-control required" %>  
          </section>
        </div>
        <% if !@user.bank? %>
          <div class="col-sm-4">
            <section class="clearfix">
              <div class="col-sm-6">
                <%= f.label :status, "Your Funding Status*" %>
                <%= f.select :status, options_for_select(["Actively Looking", "Offers Welcome", "Just Browsing"], @user.status), {}, class:'form-control' %>   
              </div>
              <div class="col-sm-6">
                <%= f.label :loan_size_ids, "Amount Sought*" %>
                <%= f.select :loan_size_ids, options_for_select(LoanSize.all.collect {|x| [x.description, x.id]}, [@user.loan_sizes.first.try(:description), @user.loan_sizes.first.try(:id)]), { prompt:"Dollar Amount" }, class:'form-control required' %>
              </div>
            </section>
            <section class="clearfix">
              <div class="col-sm-6">
                <%= f.label :loan_purpose_ids, "Funding Purpose*" %>
                <%= f.select :loan_purpose_ids, options_for_select(LoanPurpose.all.collect { |x| [x.description, x.id] }, [@user.loan_purposes.first.try(:description), @user.loan_purposes.first.try(:id)]), { prompt:"Select Purpose" }, class:'form-control required' %>   
              </div>
              <div class="col-sm-6">
                <%= f.label :loan_priority_ids, "Funding Priority*" %>
                <%= f.select :loan_priority_ids, options_for_select(LoanPriority.all.collect {|x| [x.description, x.id]}, [@user.loan_priorities.first.try(:description), @user.loan_priorities.first.try(:id)]), { prompt:"Select Priority" }, class:'form-control required' %>   
              </div>
            </section>
          </div>
        <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 clearfix">
          <h4>Your Industries*
            <p class="small muted">Select at least one</p></h4>
            <% for industry in Industry.find(:all) %>
              <div class="clear-both">
                <label class="pull-left">
                  <%= check_box_tag "user[industry_ids][]", industry.id, @user.industries.include?(industry), class:"required" %>
                  <%= industry.description %>
                </label>
              </div>
            <% end %> 
        </div>
        <div class="col-sm-9 well">
          <h3><%= @user.bank? ? 'Bank/Fund' : 'Business' %> Profile</h3>
          <div class="row">
            <div class="col-sm-8">
              <label>
                <%= current_user.bank? ? "Do You Require Customers to have Filed 2 Years of Tax Returns?*" : "Has Your Business Filed 2 Years of Business Tax Returns?*" %> 
              </label></br>
              <label>
                <%= f.radio_button :two_years, true, class:"required" %>
                Yes
              </label>
              <label>
                <%= f.radio_button :two_years, false %>
                No
              </label>
              <% if !current_user.bank? %>
              <div class="row">
                <div class="col-sm-5">
                  <%= f.label :business_type_ids, "Entity Type*" %>
                  <%= f.select :business_type_ids, options_for_select(BusinessType.all.collect {|x| [x.description, x.id]}, [@user.business_types.first.try(:description), @user.business_types.first.try(:id)]), { prompt:"Entity Type" }, class:'form-control required' %>    
                </div>
                <div class="col-sm-4">
                  <%= f.label :employee_size_ids, "Employees*" %>
                  <%= f.select :employee_size_ids, options_for_select(EmployeeSize.all.collect {|x| [x.description, x.id]}, [@user.employee_sizes.first.try(:description), @user.employee_sizes.first.try(:id)]), { prompt:"Employees" }, class:'form-control required' %>    
                </div> 
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label :age_ids, "Biz Age*" %>
                  <%= f.select :age_ids, options_for_select(Age.all.collect {|x| [x.description, x.id]}, [@user.ages.first.try(:description), @user.ages.first.try(:id)]), { prompt:"Years" }, class:'form-control required' %>
                </div>   
                <div class="col-sm-5">
                  <%= f.label :revenue_size_ids, "Revenue*" %>
                  <%= f.select :revenue_size_ids, options_for_select(RevenueSize.all.collect {|x| [x.description, x.id]}, [@user.revenue_sizes.first.try(:description), @user.revenue_sizes.first.try(:id)]), { prompt:"Revenue" }, class:'form-control required' %> 
                </div>
                <div class="col-sm-4">
                  <%= f.label :accounts_receivable_ids, "AR Size*" %>
                  <%= f.select :accounts_receivable_ids, options_for_select(AccountsReceivable.all.collect {|x| [x.description, x.id]}, [@user.accounts_receivables.first.try(:description), @user.accounts_receivables.first.try(:id)]), { prompt:"AR Size" }, class:'form-control required' %>
                </div>
              </div>
            <% end %>
              <div class="row">
                <div class="col-xs-12">
                  <%= f.label :website_url, "#{@user.bank? ? 'Bank or Fund' : 'Business'} Website URL" %>
                  <div class="input-group">
                    <span class="input-group-addon">http://</span>
                    <%= f.text_field :website_url, class:"form-control", placeholder: "www.bankmybiz.com" %> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <% unless current_user.bank? %>
                <%= f.label :customer_type_ids, "Customers*" %> <strong class="small muted">Select at least one</strong>
                <% for customer_type in CustomerType.find(:all) %>
                  <div>
                    <label>
                      <%= check_box_tag "user[customer_type_ids][]", customer_type.id, @user.customer_types.include?(customer_type), class:"required" %>
                      <%= customer_type.description %>
                    </label>
                  </div>
                <% end %> 
              <% end %>
            </div>
          </div>
        <div class='row'>
          <div class="col-sm-6">
            <%= f.label :bio, "What Makes #{current_user.bank? ? 'You A Great Banker' : 'You Great'}?*" %>
            <%= f.text_area :bio, class:"form-control required" %> 
          </div>
          <div class="col-sm-6">
            <%= f.label :goals, "What are #{current_user.bank? ? 'Your Customers\'s Goals' : 'Your Goals'}?*" %>
            <%= f.text_area :goals, class:"form-control required" %>
          </div>
        </div>
      <% if current_user.bank? %>
        <div class="row">
          <div class="col-sm-12">
            <h3>Types of Funding You Offer or Advise</h3>
            <strong class="muted">Choose at least one from each subheader</strong>
            <div class="row">
              <div class="col-sm-12 products">
                <%= hidden_field_tag "product[category_ids][]", nil %>
                <h5>Traditional</h5>
                <div class="btn-group" data-toggle="buttons">
                  <% Product.all.first(3).each do |product| %>
                    <label class="btn btn-default <%= @user.product_ids.include?(product.id) ? 'active' : '' %>">
                      <%= check_box_tag "user[product_ids][]", product.id, @user.product_ids.include?(product.id), id: dom_id(product) %>
                      <%= product.name %>
                    </label>
                  <% end %>
                </div>
                <h5>Non Traditional</h5>
                <div class="btn-group" data-toggle="buttons">
                  <% Product.all[3..11].each do |product| %>
                    <label class="btn btn-default <%= @user.product_ids.include?(product.id) ? 'active' : '' %>">
                      <%= check_box_tag "user[product_ids][]", product.id, @user.product_ids.include?(product.id), id: dom_id(product) %>
                      <%= product.name %>
                    </label>
                  <% end %>
                </div>
                <h5>Equity</h5>
                <div class="btn-group" data-toggle="buttons">
                  <% Product.all.last(3).each do |product| %>
                    <label class="btn btn-default <%= @user.product_ids.include?(product.id) ? 'active' : '' %>">
                      <%= check_box_tag "user[product_ids][]", product.id, @user.product_ids.include?(product.id), id: dom_id(product) %>
                      <%= product.name %>
                    </label>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h3>Describe Your Ideal Match</h3>
            <div class="muted">Choose at least one from each subheader</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="field">
              <h4>Years In Business*
                <p class="small muted">Select at least one</p></h4>
              
              <% for age in Age.find(:all) %>
              <div>
                <label>
                  <%= check_box_tag "user[age_ids][]", age.id, @user.ages.include?(age), class:"required" %>
                  <%= age.description %>
                </label>
              </div>
              <% end %> 
            </div>
            <div class="field">
              <h4>Entity Types*
                <p class="small muted">Select at least one</p></h4>
              
              <% for business_type in BusinessType.find(:all) %>
                <div>
                  <label>
                    <%= check_box_tag "user[business_type_ids][]", business_type.id, @user.business_types.include?(business_type), class:"required" %>
                    <%= business_type.description %>
                  </label>
                </div>
              <% end %>  
            </div>
          </div> 
          <div class="col-sm-3">
            <div class="field">
              <h4># Employees*
                <p class="small muted">Select at least one</p></h4>
              
              <% for employee_size in EmployeeSize.find(:all) %>
                <div>
                  <label>
                    <%= check_box_tag "user[employee_size_ids][]", employee_size.id, @user.employee_sizes.include?(employee_size), class:"required" %>
                    <%= employee_size.description %>
                  </label>
                </div>
              <% end %>
            </div> 
            <div class="field">
              <h4>AR Size*
                <p class="small muted">Select at least one</p></h4>
              
              <% for accounts_receivable in AccountsReceivable.find(:all) %>
                <div>
                  <label>
                    <%= check_box_tag "user[accounts_receivable_ids][]", accounts_receivable.id, @user.accounts_receivables.include?(accounts_receivable), class:"required" %>
                    <%= accounts_receivable.description %>
                  </label>
                </div>
              <% end %>  
            </div>
          </div> 
          <div class="col-sm-3">
            <div class="field">
              <h4>Revenue*
                <p class="small muted">Select at least one</p></h4>
              
              <% for revenue_size in RevenueSize.find(:all) %>
                <div>
                  <label>
                    <%= check_box_tag "user[revenue_size_ids][]", revenue_size.id, @user.revenue_sizes.include?(revenue_size), class:"required" %>
                    <%= revenue_size.description %>
                  </label>
                </div>
              <% end %>  
            </div> 
            <div class="field">
              <h4>Size of Financing*
                <p class="small muted">Select at least one</p></h4>
              
              <% for loan_size in LoanSize.find(:all) %>
                <div>
                  <label>
                    <%= check_box_tag "user[loan_size_ids][]", loan_size.id, @user.loan_sizes.include?(loan_size), class:"required" %>
                    <%= loan_size.description %>
                  </label>
                </div>
              <% end %>
            </div> 
          </div> 
          <div class="col-sm-3">
            <div class="field">
              <h4>Customers*
                <p class="small muted">Select at least one</p></h4>
              
              <% for customer_type in CustomerType.find(:all) %>
                <div>
                  <label>
                    <%= check_box_tag "user[customer_type_ids][]", customer_type.id, @user.customer_types.include?(customer_type), class:"required" %>
                    <%= customer_type.description %>
                  </label>
                </div>
              <% end %>  
            </div>
          </div> 
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-12 clearfix">
          <h4>In Which States Do You Do Business?* <span class="small muted">Select at least one</span></h4>
          
          <ol class="locations clearfix">
            <li>
              <label class="pull-left" id="selectEntireUS">
                <%= check_box_tag "user[location_ids][]", Location.first.id, @user.locations.include?(Location.first), id:'EntireUS', class:"required" %>
                <%= Location.first.name %>
              </label>
            </li>        
          <% for location in Location.all[1..-1] %>
            <li>
              <label class="pull-left">
                <%= check_box_tag "user[location_ids][]", location.id, @user.locations.include?(location), class:'state' %>
                <%= location.name %>
              </label>
            </li>
          <% end %> 
          </ol>
        </div> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 clearfix">
      <section class="text-right">
        <%= submit_tag "Update Profile", class:"btn btn-success btn-lg" %>
      </section>
    </div>
    <div class="alert alert-danger text-left clearfix" id="form_error" style="display:none;"></div>
  </div>
  <% end %>
</div>
