<%= form_for @user, url: update_profile_path(@user) do |f| %>
    <div class="span8 offset2">
      <h4>Your Profile</h4>
      <%= f.label :org_name, "#{current_user.bank? ? 'Bank' : 'Business'} Name (private)" %>
      <%= f.text_field :org_name %>

      <%= f.label :position, "Your Position" %>
      <%= f.text_field :position %>

      <%= f.label :bio, "Tell Us About You. What Makes You and Your #{current_user.bank? ? 'Bank' : 'Business'} Great?" %>
      <%= f.text_area :bio %>
      
      <%= f.label :goals, "Tell Us About Your #{current_user.bank? ? 'Bank' : 'Business'}'s Goals" %>
      <%= f.text_area :goals %>
    </div>
  <% if current_user.bank? %> 
    <div class="span9 offset2">
      <h4>Your Preferences for Businesses</h4>
    </div>
    <div class="span3 offset2"> 
      <div class="field">
        <%= f.label :revenue_size_ids, "Revenue" %>
        <% for revenue_size in RevenueSize.find(:all) %>
          <div>
            <label>
              <%= check_box_tag "user[revenue_size_ids][]", revenue_size.id, @user.revenue_sizes.include?(revenue_size) %>
              <%= revenue_size.description %>
            </label>
          </div>
        <% end %>  
      </div>
      <div class="field">
        <%= f.label :employee_size_ids, "Employees" %>
        <% for employee_size in EmployeeSize.find(:all) %>
          <div>
            <label>
              <%= check_box_tag "user[employee_size_ids][]", employee_size.id, @user.employee_sizes.include?(employee_size) %>
              <%= employee_size.description %>
            </label>
          </div>
        <% end %>
      </div>  
    </div>
    <div class="span3">
      <div class="field">
        <%= f.label :business_type_ids, "Entity Type" %>
        <% for business_type in BusinessType.find(:all) %>
          <div>
            <label>
              <%= check_box_tag "user[business_type_ids][]", business_type.id, @user.business_types.include?(business_type) %>
              <%= business_type.description %>
            </label>
          </div>
        <% end %>  
      </div>
      <div class="field">
        <%= f.label :age_ids, "Years You've Filed Taxes" %>
        <% for age in Age.find(:all) %>
        <div>
          <label>
            <%= check_box_tag "user[age_ids][]", age.id, @user.ages.include?(age) %>
            <%= age.description %>
          </label>
        </div>
        <% end %> 
      </div>
    </div> 
    <div class="span4">
      <div class="field">
        <%= f.label :industry_ids, "Industry" %>
        <% for industry in Industry.find(:all) %>
          <div>
            <label>
              <%= check_box_tag "user[industry_ids][]", industry.id, @user.industries.include?(industry) %>
              <%= industry.description %>
            </label>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="clearfix span8 offset2">
      <h4>Where You Lend</h4>
      <% for location in Location.find(:all) %>
        <label class="pull-left wiggle-room">
          <%= check_box_tag "user[location_ids][]", location.id, @user.locations.include?(location) %>
          <%= location.name %>
        </label>
      <% end %> 
    </div> 
  </div>
  <% else %>
  <div class="row">
    <div class="span9 offset2">
      <h4>About Your Business</h4>
    </div>
    <div class="span5 offset2">
      <%= f.label :business_type_ids, "Entity Type" %>
      <%= f.select :business_type_ids, options_for_select(BusinessType.all.collect {|x| [x.description, x.id]}), prompt:"select one" %>   
      <%= f.label :location_ids, "Location" %>
      <%= f.select :location_ids, options_for_select(Location.all.collect {|x| [x.name, x.id]}), prompt:"select one" %> 
      <%= f.label :industry_ids, "Industry" %>
      <%= f.select :industry_ids, options_for_select(Industry.all.collect {|x| [x.description, x.id]}), prompt:"select one" %>   
    </div>
    <div class="span5">
      <%= f.label :employee_size_ids, "Employees" %>
      <%= f.select :employee_size_ids, options_for_select(EmployeeSize.all.collect {|x| [x.description, x.id]}), prompt:"Select One" %>    
      <%= f.label :revenue_size_ids, "Revenue" %>
      <%= f.select :revenue_size_ids, options_for_select(RevenueSize.all.collect {|x| [x.description, x.id]}), prompt:"select one" %> 
      <%= f.label :age_ids, "Years Your Clients Have Filed Taxes" %>
      <%= f.select :age_ids, options_for_select(Age.all.collect {|x| [x.description, x.id]}), prompt:"select one" %>     
    </div>
  </div>
  <% end %>
  <div class="text-right span11">
    <%= submit_tag "Update Profile", class:"btn btn-success" %>
  </div>
<% end %>
