<div class="col-sm-4 col-sm-offset-4">
  <%= form_for(@milestone) do |f| %>
    <% if @milestone.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

        <ul>
        <% @milestone.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <p class="text-muted">What sort of milestone did you reach with <%= @user.first_name_with_last_initial %>?</p>
      <% if @user.bank? %>
        <label>Funder</label><br>
      <% else %>
        <label>Business Owner</label><br>
      <% end %>
      <%= render partial: 'users/user', locals: { user: @user} %>
    </div>

    <div class="row">
      <div class="field">
        <%= f.label :products, "Products*" %><br />
        <p class='text-muted'>Select at least one</p>
        <ol class="industries clearfix">
          <% if @user.bank? %>
            <% @user.products.all.each do |product| %>
              <li>
                <label>
                  <%= check_box_tag "milestone[products][]", product.name, false, id: dom_id(product), class:"required" %>
                  <%= product.name %>
                </label>
              </li>
            <% end %>
          <% else %>
            <% current_user.products.all.each do |product| %>
              <li>
                <label>
                  <%= check_box_tag "milestone[products][]", product.name, false, id: dom_id(product), class:"required" %>
                  <%= product.name %>
                </label>
              </li>
            <% end %>
          <% end %>
        </ol>
      </div>
      <div class="field" id="milstoneSize">
        <%= f.label :size, "Milestone Size*" %><br />
        <%= f.select :size, options_for_select(LoanSize.all.collect {|x| x.description}), { prompt: "Milestone Size" }, class:'form-control required' %> 
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :purpose %><br />
        <%= f.text_field :purpose, class:"form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :details %><br />
        <%= f.text_area :details, class:"form-control" %>
      </div>
    </div>
    <% if @user.bank? %>
      <%= f.hidden_field :funder_id, value: params[:user_id] %>
    <% else %>
      <%= f.hidden_field :owner_id, value: params[:user_id] %>
    <% end %>

    <div class="actions text-right">
      <%= link_to 'Cancel', :back %> <%= f.submit "Create Milestone", class:"btn btn-success" %>
    </div>
  <% end %>
</div>