<section class="row">
  <div class="col-xs-6">
    <%= render partial: 'users/user', locals: { user: milestone.owner} %>
  </div>
  <div class="col-xs-6">
    <strong>Products:</strong> <%= milestone.products %><br>
    <strong>Size:</strong> <%= milestone.size %><br>
    <strong>Purpose:</strong> <%= milestone.purpose %><br>
    <p class="text-muted"><%= milestone.details %></p>
  </div>
</section>