<p id="notice"><%= notice %></p>

<p>
  <b>References:</b>
  <%= @milestone.references %>
</p>

<p>
  <b>References:</b>
  <%= @milestone.references %>
</p>

<p>
  <b>Kind:</b>
  <%= @milestone.kind %>
</p>

<p>
  <b>Details:</b>
  <%= @milestone.details %>
</p>

<p>
  <b>Size:</b>
  <%= @milestone.size %>
</p>


<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
