<div class="span8 offset4">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :avatar, "Profile Picture" %><br />
    <%= f.file_field :avatar %>
  </div>

  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <p>
    <label><%= f.check_box :newsletter %>
      Recieve BankmyBiz.com News?</label>
  </p>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<% unless current_user.authentications.any? %>
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
<% end %>

  <div><%= f.submit "Update", class:"btn btn-warning btn-large" %></div>
<% end %>

<p class="small">Unhappy? <%= button_to "Cancel my Account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class:"btn btn-mini btn-danger" %>.</p>
</div>