<div class="center">
  <h2>Register</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <p><%= f.label :name, "Full Name* (private)" %>
    <%= f.text_field :name, class:'form-control required' %></p>

    <p><%= f.label :email, "Email* (private)" %>
    <%= f.email_field :email, class:"form-control required" %></p>

    <p>
      <div class="btn-group" data-toggle="buttons">
        <label>Which Best Describes You?</label>
        <label class="btn btn-success">
          <%= f.radio_button :bank, true %>
          Banker
        </label>
        <label class="btn btn-warning">
          <%= f.radio_button :bank, false %> 
          Biz Owner
        </label>
      </div>
    </p>

    <p><%= f.label :org_name, "Organization Name* (private)" %>
    <%= f.text_field :org_name, class:'form-control required' %></p>

    <p><%= f.label :position, "Position*" %>
    <%= f.text_field :position, class:'form-control required' %></p>

    <p><%= f.label :password, "Password* (min 6 characters)" %>
    <%= f.password_field :password, class:"form-control required" %></p>

    <p><%= f.label :password_confirmation, "Confirm Password*" %>
    <%= f.password_field :password_confirmation, class:"form-control required" %></p>

    <section><%= f.submit "Register", class:"btn btn-success btn-lg" %></section>
  <% end %>

  <section>
    <a href="/auth/linkedin" class="auth_provider btn btn-lg btn-block btn-linkedin">
      Register | <i class="icon ion-social-linkedin"></i>
    </a>
  </section>

  <%= render "devise/shared/links" %>

</div>