<li class="comment">
  <div class="pull-left grey small" style="margin-left: -8px;">
    <div class="pull-left"><%= comment.plusminus %></div>
    <% if user_signed_in? %>
      <span class="breathing-room">
        <%= link_to vote_up_post_comment_path(post, comment), class:"pull-left fade-in-green" do %>
        <i class="icon-money <%= current_user.voted_for?(comment) ? 'green' : '' %>"></i>
        <% end %>
      </span>
    <% end %>
  </div>
  <div class="small"><%= comment.content %></div>
  <div class="muted smaller text-right"><%= time_ago_in_words(comment.created_at) %> ago by 
    <% if comment.user %>
      <%= comment.user.first_name_with_last_initial %>
    <% end %>
  </div>
</li>