<h4 class="h4">Congratulations <%= @user.first_name.titleize %>, </h4>
<p>
  You have <%= pluralize @matching_users, "new Relationship recommendations" %> on Bankmybiz.com!
</p>

<% @matching_users.each do |match| %>
  <%= render partial: 'users/email_user', locals: { current_user: @user, other_user: match } %>
  <p>A little bit about <%= match.org_name %>:</p>
  <p><%= match.bio %></p>
<% end %>

<p>
  BankMyBiz.com creates one free new match per week. You can accelerate the speed of building lending relationships by posting to the News Feed, starting conversations on News Feed posts, and now <%= link_to "Purchasing Matches", matches_url %>.
</p>
