<div class="match clearfix">
  <div class="pull-left margin-right">
    <%= link_to user_path(user) do %><%= small_profile_picture(user) %><% end %></td>
  </div>
  <div class="pull-left">
    <strong><%= user.first_name_with_last_initial %></strong> - <%= user.position %> at <%= user.org_name %><br>
      <%= user.status %> 
      <br>
      <%= current_user.percentage_match(user) %>% Match <%= current_user.local?(user) ? "| Local" : "" %>
    </span>
  </div>
</div>