<div class="match">
  <div class="row">
    <div class="col-sm-4">
      <div class="match-pic">
        <%= link_to user_path(user) do %><%= medium_profile_picture(user) %><% end %></td>
      </div>
    </div>
    <div class="col-sm-7">
      <strong><%= link_to user_path(user) do %><%= user.first_name_with_last_initial %><% end %></strong> <br>
      <span class="muted">
        <%= user.position %>, <%= user.try(:hq_state) %><br>
        <%= user.status %> 
        <br>
        <%= current_user.percentage_match(user) %>% Match
      </span>
    </div>
  </div>
  <div class="row">
    <section class="col-xs-12">
      <div class="pull-right">
        <%= render partial: 'users/follow_form', locals: { user: user } %>
      </div>
      <% if user.following?(current_user) || current_user.is_a_match_with?(user)%>
        <div class="pull-right">
          <%= link_to user_path(user), class:'btn-sm btn btn-default' do %>
            <i class="ion-ios7-email blue"></i> Contact
          <% end %>
        </div>
      <% end %>
    </section>
  </div>
</div>