<div class="row">
  <div class="col-sm-4 text-center">
    <h4>New User Stats</h4>
      <!-- Table -->
      <table class="table table-bordered user-stats">
        <thead>
          <tr>
            <th><%= Date.today.prev_month(2).strftime("%b") %></th>
            <th><%= Date.today.prev_month.strftime("%b") %></th>
            <th>This Month</th>
            <th>This Week</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= User.where(created_at: Date.today.at_beginning_of_month.prev_month(2)..Date.today.at_beginning_of_month.prev_month).count %></td>
            <td><%= User.where(created_at: Date.today.at_beginning_of_month.prev_month..Date.today.at_beginning_of_month).count %></td>
            <td><%= User.where(created_at: Date.today.at_beginning_of_month..Date.today).count %></td>
            <td><%= User.where(created_at: Date.today.at_beginning_of_week..Date.today).count %></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-sm-4 text-center">
    <h4>User Stats</h4>
      <!-- Table -->
      <table class="table table-bordered user-stats">
        <thead>
          <tr>
            <th>Bankers</th>
            <th>Businesses</th>
            <th>Undecided</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= User.where(bank: true).count %></td>
            <td><%= User.where(bank: false).count %></td>
            <td><%= User.where(bank: nil).count %></td>
            <td><%= User.all.count %></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-sm-4 text-center">
    <h4>Conversion Stats</h4>
      <!-- Table -->
      <table class="table table-bordered user-stats">
        <thead>
          <tr>
            <th></th>
            <th><%= Date.today.prev_month(2).strftime("%b") %></th>
            <th><%= Date.today.prev_month.strftime("%b") %></th>
            <th>This Month</th>
            <th>This Week</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Match</td>
            <td><%= Purchase.where(created_at: Date.today.at_beginning_of_month.prev_month(2)..Date.today.at_beginning_of_month.prev_month).count %></td>
            <td><%= (Purchase.where(created_at: Date.today.at_beginning_of_month.prev_month..Date.today.at_beginning_of_month).count)*3 %></td>
            <td><%= (Purchase.where(created_at: Date.today.at_beginning_of_month..Date.today).count)*3 %></td>
            <td><%= (Purchase.where(created_at: Date.today.at_beginning_of_week..Date.today).count)*3 %></td>
            <td><%= (Purchase.all.count)*3 %></td>
          </tr>
          <tr>
            <td>360</td>
            <td><%= Subscription.where(created_at: Date.today.at_beginning_of_month.prev_month(2)..Date.today.at_beginning_of_month.prev_month).count %></td>
            <td><%= (Subscription.where(created_at: Date.today.at_beginning_of_month.prev_month..Date.today.at_beginning_of_month).count)*3 %></td>
            <td><%= (Subscription.where(created_at: Date.today.at_beginning_of_month..Date.today).count)*3 %></td>
            <td><%= (Subscription.where(created_at: Date.today.at_beginning_of_week..Date.today).count)*3 %></td>
            <td><%= Subscription.where("expires_on > ?", Date.today).count %></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-sm-4 text-center">
    <h4>Profile Completion Stats</h4>
      <!-- Table -->
      <table class="table table-bordered user-stats">
        <thead>
          <tr>
            <th>Incomplete Profiles</th>
            <th>Completed Profiles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= User.where('bank IS NOT NULL').count - User.percentage_complete_profiles %></td>
            <td><%= User.percentage_complete_profiles %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div class="col-sm-12">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Uncofirmed Users(<%= @unconfirmed_users.count %>)</a></li>
      <li><a href="#invited" data-toggle="tab">Invited Users(<%= @invited_users.count %>)</a></li>
      <li><a href="#tab2" data-toggle="tab">Confirmed Users(<%= @confirmed_users.count %>)</a></li>
      <li><a href="#tab3" data-toggle="tab">Rejected Users(<%= @rejected_users.count %>)</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="3%"></th>
              <th width="30%">Name</th>
              <th width="30%">Email</th>
              <th width="15%">Applied On</th>
              <th width="20%">Actions</th>
            </tr>
          </thead>
          <tbody class="table-bordered">
            <% @unconfirmed_users.each do |u| %>
              <tr>
                <td></td>
                <td><%= u.name %></td>
                <td><%= u.email %></td>
                <td><%= u.nice_created_at %></td>
                <td>
                  <%= link_to "Confirm", user_confirm_path(u), class:"btn btn-mini btn-success" %>
                  <%= link_to "Reject", user_reject_path(u), class:"btn btn-mini btn-warning", confirm: "Are you sure?" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @unconfirmed_users, renderer: BootstrapPagination::Rails %>
      </div>
      <div class="tab-pane" id="invited">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="3%"></th>
              <th width="30%">Email</th>
              <th width="15%">Invited On</th>
            </tr>
          </thead>
          <tbody class="table-bordered">
            <% @invited_users.each do |u| %>
              <tr>
                <td></td>
                <td><%= u.email %></td>
                <td><%= u.nice_created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @invited_users, renderer: BootstrapPagination::Rails %>
      </div>

      <div class="tab-pane" id="tab2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="3%"></th>
              <th width="3%">Started Profile?</th>
              <th width="3%">Finished Profile?</th>
              <th width="15%">Name</th>
              <th width="15%">Email</th>
              <th width="15%">Position</th>
              <th width="20%">Organization</th>
              <th width="15%">Confirmed On</th>
              <th width="8%">Actions</th>
            </tr>
          </thead>
          <tbody class="table-bordered">
            <% @confirmed_users.each do |u| %>
              <tr>
                <td></td>
                <td class="text-center"><%= u.started_profile? ? "X" : "" %></td>
                <td class="text-center"><%= u.finished_profile? ? "X" : "" %></td>
                <td><%= u.name %></td>
                <td><%= u.email %></td>
                <td class="text-center"><%= u.position %></td>
                <td class="text-center"><%= u.org_name %></td>
                <td><%= u.nice_confirmed_at %></td>
                <td>
                  <%= link_to "Reject", user_reject_path(u), class:"btn btn-mini btn-warning", confirm: "Are you sure?" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @confirmed_users, renderer: BootstrapPagination::Rails %>
      </div>
      <div class="tab-pane" id="tab3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="3%"></th>
              <th width="30%">Name</th>
              <th width="30%">Email</th>
              <th width="15%">Applied On</th>
              <th width="20%">Actions</th>
            </tr>
          </thead>
          <tbody class="table-bordered">
            <% @rejected_users.each do |u| %>
              <tr>
                <td></td>
                <td><%= u.name %></td>
                <td><%= u.email %></td>
                <td><%= u.nice_created_at %></td>
                <td>
                  <%= link_to "Confirm", user_confirm_path(u), class:"btn btn-mini btn-success" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @rejected_users, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>