<% content_for :title, "Welcome back #{current_user.first_name}" %>
<div class="span3">       
  <div class="border-right">
    <%= render 'shared/trending_tags' %>
    <div class="hr-line"></div>
    <%= render 'shared/messages' %>
    <div class="hr-line"></div>
    <%= render 'shared/following' %>
  </div>
</div>
<div class="span6 clearfix">
  <div class="buy-matches row">
    <div class="span1">
      <i class="icon-plus"></i>
    </div>
    <div class="span1">
      <i class="icon-plus"></i>
    </div>
    <div class="span1">
      <i class="icon-plus"></i>
    </div>
    <div class="span3">
      <h4>Accelerate Your Search</h4>
      <div class="muted">
        3 Matches / $<%= current_user.bank? ? "29.99" : "74.99" %> 
      </div>
    </div>
  </div>
    <%= render partial: 'match', collection: @matches, as: 'match' %>
</div>

<div class="span3">  
  <div class="border-left">
    <%= render 'shared/improve_profile' %>
    <div class="hr-line"></div>
    <%= render 'shared/profile_views' %>
  </div>
</div>