<% content_for :title, "Welcome back #{current_user.first_name}" %>
<div class="span3">       
  <div class="border-right">
    <%= render 'shared/trending_tags' %>
    <div class="hr-line"></div>
    <%= render 'shared/messages' %>
    <div class="hr-line"></div>
    <%= render 'shared/following' %>
  </div>
</div>
<div class="span6">
  <div class="clearfix">
    <%= render partial: 'match', collection: @matches, as: 'match' %>
  </div>
</div>

<div class="span3">  
  <div class="border-left">
    <%= render 'shared/improve_profile' %>
    <div class="hr-line"></div>
    <%= render 'shared/profile_views' %>
  </div>
</div>