<div class="span3">
  <img src="/assets/default_profile_pic.png" />
</div>
<div class="span7">
  <div>
    <strong>Name</strong>
  </div>
  <div>
    <strong>Bio</strong>
    <div class="muted">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam <a href="#">more</a>
    </div>
  </div>
  <div>
    <strong>Business</strong>
    <div class="muted">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam <a href="#">more</a>
    </div>
  </div>

</div>
</div>
<div class="row">
<div class="span3">
  <h4>Activity</h4>
  <% @activities.each do |activity| %>
    <div class="activity">
    <%= link_to activity.owner.name, activity.owner if activity.owner %>
    <%= render_activity activity %>
    </div>
  <% end %>
</div>

<div class="span6">
<h4>Posts</h4>
  <%= render partial: "posts/post", collection: @posts, as: :post %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
<div class="span3">
  <div class="well dark">
    <p class="muted">Trending Tags</p>
    <%= render partial: "shared/tags", locals: { tags: @tags }  %>
  </div>

  <div class="well">
    <h5 class="matches">Businesses You May Like</h5>
    <div class="muted">3 More tomorrow</div>
    <br />
    <%= render partial: "users/user", collection: @recommended_users, as: :user %>
  </div>      
</div>