  <div id="contact-modal" class="modal hide fade in" style="display: none; ">  
    <%= form_for @user.messages.new, remote:true do |f| %>
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Contact <%= @user.name %></h3>  
      </div>  
      <div class="modal-body">  
        <div class=" message-subject">
          <%= f.text_field :subject , :placeholder => "Subject",  :class => "span5 message-subject-input"%>
        </div>
        <div class=" message-body ">
          <%= f.text_area :body , :placeholder => "Type your message here...", :rows => "8", :class => "span5 message-subject-input"%>
        </div>               
        <%= f.hidden_field :sender_id, value: "#{current_user.id}" %>
        <%= f.hidden_field :receiver_id, value: "#{@user.id}" %>
      </div>  
      <div class="modal-footer">  
        <%= f.submit "Send Message", :class => "btn btn-primary" %>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
      </div>  
    </div>
  <% end %>

<div class="span3">
<!--   <img src="/assets/default_profile_pic.png" class="span2 clear-both" /> -->
  <%= render 'follow_form' if signed_in? %>
  <div class="text-center">
    <%= large_profile_picture(@user) %>
  </div>
  <hr>
  <div class="clear-both">
    <p><strong>Name</strong> <%= @user.name %></p>
  </div>
  <div>
    <p>
      <strong>Bio</strong>
      <div class="muted">
        <%= @user.bio %>
      </div>
    </p>
  </div>
  <div>
    <p>
      <strong class=''>Business Type:</strong>
      <div class="muted"><%= @user.business_types.map(&:description).join(", ") %></div>
    </p>
  </div>
  <div>
    <p>
      <strong class=''>Revenue Size:</strong>
      <div class="muted"><%= @user.revenue_sizes.map(&:description).join(", ") %></div>
    </p>
  </div>
  <div>
    <p>
      <strong class=''>Years of Operation</strong>
      <div class="muted"><%= @user.ages.map(&:description).join(", ") %></div>
    </p>
  </div>
  <div>
    <p>
      <strong class=''>Industry</strong>
      <div class="muted"><%= @user.industries.map(&:description).join(", ") %></div>
    </p>
  </div>
  <div>
    <p>
      <strong class=''>Employees</strong>
      <div class="muted"><%= @user.employee_sizes.map(&:description).join(", ") %></div>
    </p>
  </div>
  <% if @user == current_user %>
    <%= link_to "edit profile", edit_profile_path(@user) %>
  <% elsif current_user.messages_left? %>
    <div class="text-center well">
      <a data-toggle="modal" href="#contact-modal" class="btn btn-primary">Message <%= @user.first_name_with_last_initial %></a>
    </div>
  <% end %>
  <hr>
  <%= render 'shared/trending_tags' %>
</div>
<div class="span6">
  <h4>Activity</h4>
  <% @activities.each do |activity| %>
    <div class="activity">
    <%= link_to activity.owner.name, activity.owner if activity.owner %>
    <%= render_activity activity %>
    </div>
  <% end %>
  <hr>  
  <h4>Posts</h4>
  <%= render partial: "posts/post", collection: @posts, as: :post %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<div class='span3'>
  <%= render 'shared/improve_profile' %>
  <%= render 'shared/profile_views' %>
</div>