<div class="span3">
<!--   <img src="/assets/default_profile_pic.png" class="span2 clear-both" /> -->
  <%= render 'follow_form' if signed_in? %>
  <div class="clear-both">
    <strong>Name</strong> <%= @user.name %>
  </div>
  <div>
    <strong>Bio</strong>
    <div class="muted">
      <%= @user.bio %>
    </div>
  </div>
  <div>
    <strong class='small'>Business Type:</strong>
    <div class="muted"><%= @user.business_types.map(&:description).join(", ") %></div>
  </div>
  <div>
    <strong class='small'>Revenue Size:</strong>
    <div class="muted"><%= @user.revenue_sizes.map(&:description).join(", ") %></div>
  </div>
  <div>
    <strong class='small'>Years of Operation</strong>
    <div class="muted"><%= @user.ages.map(&:description).join(", ") %></div>
  </div>
  <div>
    <strong class='small'>Industry</strong>
    <div class="muted"><%= @user.industries.map(&:description).join(", ") %></div>
  </div>
  <div>
    <strong class='small'>Employees</strong>
    <div class="muted"><%= @user.employee_sizes.map(&:description).join(", ") %></div>
  </div>
  <% if @user == current_user %>
    <%= link_to "edit profile", edit_profile_path(@user) %>
  <% else %>
    <div class='text-right'>
      <strong>Message</strong>
      <textarea class="span3"></textarea>
      <a href="#" class="btn-primary btn">Send</a>
    </div>
  <% end %>
  <%= render 'shared/profile_views' %>
</div>
<div class="span6">
  <h4>Activity</h4>
  <% @activities.each do |activity| %>
    <div class="activity">
    <%= link_to activity.owner.name, activity.owner if activity.owner %>
    <%= render_activity activity %>
    </div>
  <% end %>
  <hr>  
  <h4>Posts</h4>
  <%= render partial: "posts/post", collection: @posts, as: :post %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<div class='span3'>
  <%= render 'shared/trending_tags' %>
  <%= render 'shared/improve_profile' %>
  <%= render 'shared/bmb_profile' %>
</div>