  <div id="contact-modal" class="modal hide fade in" style="display: none; ">  
    <%= form_for @user.messages.new, remote:true do |f| %>
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Contact <%= @user.first_name_with_last_initial %></h3>  
      </div>  
      <div class="modal-body">  
        <div class=" message-subject">
          <%= f.text_field :subject , :placeholder => "Subject",  :class => "span5 message-subject-input"%>
        </div>
        <div class=" message-body ">
          <%= f.text_area :body , :placeholder => "Type your message here...", :rows => "8", :class => "span5 message-subject-input"%>
        </div>               
        <%= f.hidden_field :sender_id, value: "#{current_user.id}" %>
        <%= f.hidden_field :receiver_id, value: "#{@user.id}" %>
      </div>  
      <div class="modal-footer">  
        <%= f.submit "Send Private Message", :class => "btn btn-primary" %>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
      </div>  
    </div>
  <% end %>
<div class="span8 offset1">
  <div class="row">
    <div class='profile-picture-position span2'>
      <div data-spy="affix" data-offset-top="90" class="span2">
        <% if current_user == @user && !current_user.has_image? %>
          <div class="well">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
              <div class="field">
                <%= f.label :avatar, "Select Profile Picture" %><br />
                <%= f.file_field :avatar %>
              </div>
              <%= f.submit "Upload", class:"btn btn-success" %>
            <% end %>
          </div>
        <% else %>
          <div class="pull-left">
            <%= render partial: 'follow_form', locals: { user: @user } if user_signed_in? %>
          </div>
          <%= large_profile_picture(@user) %>
        <% end %>
          <div class='text-left large'>
            <br>
            <div>
              <strong>Name:</strong> 
              <%= @user.first_name_with_last_initial %> 
            </div>
            <div>
              <strong class=''>Position:</strong>
              <span class="muted"><%= @user.position %></span>
            </div>
            <div>
              <strong>Bucks:</strong> 
              <span class="muted"> <%= @user.karma %></span>
            </div>
          </div>
          <br>
          <% if @user == current_user %>
            <%= link_to "edit profile", edit_profile_path(@user) %>
          <% elsif current_user.messages_left? %>
            <a data-toggle="modal" href="#contact-modal" class="btn btn-primary btn-block message-button"><i class="icon-envelope-alt"></i> Contact <%= @user.first_name_with_last_initial %></a>
          <% end %>
        </div>
      </div>
    <div class="span5" style="margin-top:20px;">
      <ul class="large profile-deets">
        <li>
          <strong class=''><%= @user.bank? ? "Bank" : "Business" %>:</strong>
          <span class="muted"><%= @user.org_name %></span>
        </li>
        <li>
          <strong class=''>Business Type:</strong>
          <span class="muted"><%= @user.business_types.map(&:description).join(", ") %></span>
        </li>
        <li>
          <strong class=''>Employees:</strong>
          <span class="muted"><%= @user.employee_sizes.map(&:description).join(", ") %></span>
        </li>
        <li>
          <strong class=''>Revenue Size:</strong>
          <span class="muted"><%= @user.revenue_sizes.map(&:description).join(", ") %></span>
        </li>
        <li>
          <strong class=''>Years of Operation:</strong>
          <span class="muted"><%= @user.ages.map(&:description).join(", ") %></span>
        </li>
        <li>
          <strong class=''>Industry:</strong>
          <span class="muted"><%= @user.industries.map(&:description).join(", ") %></span>
        </li>
        <li>
          <strong class=''>Does Business in:</strong>
          <span class="muted"><%= @user.locations.map(&:name).join(", ") %></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span6 offset2">
      <h4>Bio</h4>
      <p class="muted"><%= @user.bio %></p>
      <hr>  
      <h4>Goals</h4>
      <p class="muted"><%= @user.goals %></p>
      <hr>  
    <% if @user == current_user %>
      <h4>Your Activity <span class="muted small">(private)</span></h4>
      <% @activities.each do |activity| %>
        <div class="activity">
        <%= link_to activity.owner.name, activity.owner if activity.owner %>
        <%= render_activity activity %>
        </div>
      <% end %>
      <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
    <% end %>
    <% if @user == current_user %>
      <h4>Your Posts</h4>
    <% else %>
      <h4><%= @user.first_name %>'s Recent Posts</h4>
    <% end %>
      <div class="span5">
        <%= render partial: "posts/post", collection: @posts, as: :post %>
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
<div class='span3'>
  <div class="border-left grey-background">
    <%= render 'shared/improve_profile' %>
    <hr>
    <%= render 'shared/profile_views' %>
  </div>
</div>