<section class="well">
<% if user_signed_in? %>
  <% if current_user.bank == nil %>    
    <h4>Banker or Biz Owner?</h4>
    <p class='text-center'>
      <%= link_to "Banker", set_bank_path(current_user), class:"btn btn-success btn-lg" %>
      <%= link_to "Business", set_business_path(current_user), class:"btn btn-warning btn-lg" %>
    </p>
    <div class="muted">Answer to Unlock Matches</div>
  <% else %>
    <% if !current_user.finished_profile? %>
      <h4>Complete Your Profile</h4>
        <%= link_to "#{current_user.profile_elements_left} questions to go", edit_profile_path(current_user) %>
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" style="width: <%= current_user.profile_progress_percent %>%;">
            <%= link_to "#{current_user.profile_progress_percent}%", edit_profile_path(current_user), class:"no-link progress-percent" %>
          </div>
        </div>
        <h4 class="text-center">to Unlock <%= current_user.bank? ? "Business" : "Banker" %> Matches</h4>
    <% elsif current_user.todays_match.present? %>
      <h4><%= current_user.bank? ? "Owner" : "Banker" %> Match</h4>
      <%= render partial: "users/user", locals: { user: current_user.todays_match } %>
      <% unless current_user.finished_profile? %>
        <%= link_to "#{current_user.started_profile? ? 'Improve Profile' : 'Build Profile'}", edit_profile_path(current_user), class:"btn btn-primary" %>
        <div class=''>For Better Matches</div>
      <% end %>
      <% if false %>
        <% if current_user.bank? && !current_user.has_active_subscription? %>
          <br>
          <div class="text-center">
            <%= link_to new_subscription_path, class: "btn btn-default" do %> 
              <i class="icon ion-checkmark-circled gold"></i> Become a Certified Banker
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if !current_user.bank? && current_user.products.any? %>
        <div class="clearfix">
          <h4>Matched Funding Options</h4>
          <div class="col-sm-10 col-sm-offset-1">
            <% current_user.products.each do |p| %>
              <%= link_to "/" + p.name.parameterize, class:"btn btn-default btn-block" do %>
                <%= p.name %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  The <strong>Bankmybiz Network</strong> can answer your business questions and match you with local and national sources of capital. <%= link_to "Sign up", new_user_registration_path %> and complete your profile to start receiving matches.
<% end %>
</section>