<div class="text-center">
<% if current_user.bank == nil %>
    <p>Which one best describes you?</p>
    <%= link_to "Bank", set_bank_path(current_user), class:"btn btn-warning btn-large" %>
    <%= link_to "Biz", set_business_path(current_user), class:"btn btn-success btn-large" %>
    <p class="muted">Answer to unlock matches,<br> and be matched</p>
<% else %>
  <% if !current_user.finished_profile? %>
    <h4>Profile Completeness</h4>
    <div class="progress">
      <div class="bar bar-success" style="width: <%= current_user.profile_progress_percent %>%;">
        <%= link_to "#{current_user.profile_progress_percent}%", edit_profile_path(current_user), class:"no-link" %>
      </div>
    </div>
    <%= link_to "#{current_user.profile_elements_left} questions to go", edit_profile_path(current_user) %> <br>to unlock <%= current_user.bank? ? "owner" : "lender" %> matches
  <% else %>
    <p class="muted">Recent <%= current_user.bank? ? "Owner" : "Lender" %> Match</p>
    <%= render partial: "users/user", collection: current_user.todays_matches, as: :user %>
    <% unless current_user.finished_profile? %>
      <%= link_to "#{current_user.started_profile? ? 'Improve Profile' : 'Build Profile'}", edit_profile_path(current_user), class:"btn btn-primary" %>
      <div class=''>For Better Matches</div>
    <% end %>
    <div class="hr-line"></div>
    <p class="muted"><%= current_user.bank? ? "Lenders" : "Owners" %> Like You</p>
    <%= render partial: "users/user", collection: current_user.todays_peers, as: :user %>
  <% end %>
<% end %>
</div>