  <% if current_user.bank == nil %>    
    <h4>Lender or Biz Owner?</h4>
    <p class='text-center'>
      <%= link_to "Lender", set_bank_path(current_user), class:"btn btn-success btn-lg" %>
      <%= link_to "Business", set_business_path(current_user), class:"btn btn-warning btn-lg" %>
    </p>
    <div class="muted">Answer to Unlock Funding and <%= current_user.bank? ? "Business" : "Lender" %> Matches</div>
  <% else %>
    <% if !current_user.finished_profile? %>
    <br>
    <h5 class="text-center"><%= link_to "#{current_user.profile_elements_left} Questions Go", edit_profile_path(current_user) %> to Unlock Funding and Relationship Recommendations 
      </h5>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-success" style="width: <%= current_user.profile_progress_percent %>%;">
        <%= link_to "#{current_user.profile_progress_percent}%", edit_profile_path(current_user), class:"no-link progress-percent" %>
      </div>
    </div>
    <% else %>
      <% if !current_user.bank || (current_user.bank && current_user.has_active_subscription?) %>
          <% if !current_user.bank? && current_user.products.any? %>
            <div class="clearfix">
              <h5>My Matched Funding Options</h5>
              <div class="col-sm-12">
                <% current_user.products.each do |p| %>
                  <%= link_to "/" + p.name.parameterize, class:"btn btn-default btn-block" do %>
                    <%= p.name %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
          <h5>Recent <%= current_user.bank? ? "Owner" : "Lender" %> Matches</h5>
          <%= render partial: "users/user", collection: current_user.recent_matches, as: "user" %>
        <% else #user is a bank without an active subscription %>
          <div class="text-center">
            <%= link_to new_subscription_path, class:"btn btn-lg btn-default" do %>
              <i class="icon ion-checkmark-circled gold"></i> Become a Certified Lender
            <% end %>
            <section class='muted text-left'>To Receive Matched Business Leads, and Inbound Product Leads from our <%= link_to "Funding Options", term_loan_path %> </section>
          </div>
        <% end %>
      <% end %>
    <% end %>
</section>