<div class="text-center">
<% if current_user.bank == nil %>
    <p>Which one best describes you?</p>
    <%= link_to "Bank", set_bank_path(current_user), class:"btn btn-warning btn-large" %>
    <%= link_to "Biz", set_business_path(current_user), class:"btn btn-success btn-large" %>
    <p class="muted">Answer to unlock matches,<br> and be matched</p>
<% else %>
  <% if !current_user.started_profile? %>
    <%= link_to "Start Your Profile", edit_profile_path(current_user), class:"btn btn-primary btn-large large" %>
    <div class="muted">
      to unlock <%= current_user.bank? ? "owners" : "lenders" %>
    </div>
  <% else %>
    <h5>Today's <%= current_user.bank? ? "Owner" : "Lender" %> Match</h5>
    <%= render partial: "users/user", collection: @recommended_users, as: :user %>
    <% unless current_user.finished_profile? %>      
      <%= link_to "#{current_user.started_profile? ? 'Improve Profile' : 'Build Profile'}", edit_profile_path(current_user), class:"btn btn-primary" %>
      <div class='muted'>for better matches</div>
    <% end %>
  <% end %>
<% end %>
</div>
<hr>