<div class="text-center">
<% if current_user.bank == nil %>
    <p>Which one best describes you?</p>
    <%= link_to "Bank", set_bank_path(current_user), class:"btn btn-warning btn-large" %>
    <%= link_to "Biz", set_business_path(current_user), class:"btn btn-success btn-large" %>
    <p class="muted">Answer to unlock matches,<br> and be matched</p>
<% else %>
  <% if !current_user.started_profile? %>
    <%= link_to "Start Your Profile", edit_profile_path(current_user), class:"btn btn-primary btn-large large" %>
    <div class="">
      to unlock <%= current_user.bank? ? "owners" : "lenders" %>
    </div>
  <% else %>
    <p class="muted">Today's <%= current_user.bank? ? "Owner" : "Lender" %> Match</p>
    <%= render partial: "users/match", collection: current_user.todays_matches, as: :user %>
    <% unless current_user.finished_profile? %>
      <%= link_to "#{current_user.started_profile? ? 'Improve Profile' : 'Build Profile'}", edit_profile_path(current_user), class:"btn btn-primary" %>
      <div class=''>For Better Matches</div>
    <% end %>
    <hr>
    <p class="muted">Today's Peers</p>
    <%= render partial: "users/peer", collection: current_user.todays_peers, as: :user %>
  <% end %>
<% end %>
</div>