<div id="invite-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">  
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post}, remote:true do |f| %>
        <%= devise_error_messages! %>
        <div class="modal-header">  
          <a class="close" data-dismiss="modal">×</a>  
          <h3>Send Invites</h3> 
        </div>
        <div class="modal-body">  
          <% resource.class.invite_key_fields.each do |field| -%>
            <div class="row">
              <%= f.text_field field, :class => "form-control", placeholder: "Add Emails (separated by commas)" %>
            </div>
          <% end %>      
          <section class="row">
           <%= text_area_tag 'body', "I want to invite you to Bankmybiz.com, a matching platform for lenders and business owners.", :rows => "8", :class => "form-control"%>
          </section>
        </div>      
        <div class="modal-footer">  
          <%= f.submit t("devise.invitations.new.submit_button"), class:"pull-right btn btn-success btn-lg" %>
        </div>  
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-4 pull-right">  
  <% if user_signed_in? %>
    <%= render 'shared/user_profile' %>
    <%= render 'shared/improve_profile' %>
  <% else %>
    <h3 class='text-center'>Get Matches Today</h3>
    <div class="well">
      The <strong>Bankmybiz Network</strong> can answer your business questions and match you with local and national sources of capital.
    </div>
    <h3 class='text-center'>Testimonials</h3>
    <div class="well">
      <section>
        <i>"I sent messages to my Bankmybiz lender matches and within 2 mintues was contacted by a lender from California who understood and was passionate about my business. Thanks Bankmybiz!"</i>
        <p class='text-right'><strong>Alisa T.</strong> Artist/Manufacturer</p>
      </section>
      <section>
        <i>"Wow, Bankmybiz.com is extraordinary. Easy to navigate, engaging interactions and spot-on connections. <strong>This will change everything</strong>."</i>
        <p class='text-right'><strong>James C.</strong> SVP Business Banker</p>
      </section>
      <section>
        <i>"I started conversations by posting some questions to Bankmybiz.com. I connected with a few helpful lenders and, <strong>EUREKA</strong>, I found a great lender who specialized in my industry. Thank You Bankmybiz.com! I will be singing your praises to every business owner I know."</i>
        <p class='text-right'><strong>Heather P.</strong> Healthcare</p>
      </section>
    </div>
  <% end %>
  <%= render 'shared/social_buttons' %>
  <%= render 'shared/user_tags' %>
  <%= render 'shared/trending_tags' %>
  <%= render 'shared/profile_views' %>
  <section class='well'>
    <%= link_to "Put Your Ad Here", new_ad_path %>
  </section>
</div>