<div id="invite-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">  
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post}, remote:true do |f| %>
        <%= devise_error_messages! %>
        <div class="modal-header">  
          <a class="close" data-dismiss="modal">×</a>  
          <h3>Send Invites</h3> 
        </div>
        <div class="modal-body">  
          <% resource.class.invite_key_fields.each do |field| -%>
            <div class="row">
              <%= f.text_field field, :class => "form-control", placeholder: "Add Emails (separated by commas)" %>
            </div>
          <% end %>      
          <section class="row">
           <%= text_area_tag 'body', "I want to invite you to Bankmybiz.com, a matching platform for lenders and business owners.", :rows => "8", :class => "form-control"%>
          </section>
        </div>      
        <div class="modal-footer">  
          <%= f.submit t("devise.invitations.new.submit_button"), class:"pull-right btn btn-success btn-lg" %>
        </div>  
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-4 pull-right">  
  <% if user_signed_in? %>
  <section>
    <% if current_user.has_image? %>
      <%= link_to "Ask For Advice", new_post_path, class:"btn btn-lg btn-success btn-block", rel:"tooltip", title:"+10 Cred" %>
    <% else %>
      <div class='well alert-warning text-center'>
        <i class="icon ion-information-circled"></i> Add your <%= link_to "Profile Picture", edit_profile_path(current_user) %> to Get Advice.
      </div>
    <% end %>
  </section>
  <% end %>
  <%= render 'shared/improve_profile' %>
  <%= render 'shared/user_tags' %>
  <%= render 'shared/social_buttons' %>
  <%= render 'shared/trending_tags' %>
  <%= render 'shared/profile_views' %>
</div>