<div id="invite-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">  
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post}, remote:true do |f| %>
        <%= devise_error_messages! %>
        <div class="modal-header">  
          <a class="close" data-dismiss="modal">×</a>  
          <h3>Send Invites</h3> 
        </div>
        <div class="modal-body">  
          <% resource.class.invite_key_fields.each do |field| -%>
            <div class="row">
              <%= f.text_field field, :class => "form-control", placeholder: "Add Emails (separated by commas)" %>
            </div>
          <% end %>      
          <section class="row">
           <%= text_area_tag 'body', "I want to invite you to Bankmybiz.com, a matching platform for lenders and business owners.", :rows => "8", :class => "form-control"%>
          </section>
        </div>      
        <div class="modal-footer">  
          <%= f.submit t("devise.invitations.new.submit_button"), class:"pull-right btn btn-success btn-lg" %>
        </div>  
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-3 pull-right">  
  <section class="well">
    <%= render 'shared/improve_profile' %>
  </section>
  <section class="well">
    <h4>Get Free Matches</h4>
    <a data-toggle="modal" data-target="#invite-modal" class="btn btn-default btn-lg btn-block">Invite | <i class="icon ion-ios7-email-outline"></i></a>
    <section class="muted small">Receive a Free Match When Someone You Invite Registers</section>
  </section>
  <section class="well">
    <h4>Share Bankmybiz</h4>
    <section class="row">
      <div class="col-xs-4">
        <script src="//platform.linkedin.com/in.js" type="text/javascript">
         lang: en_US
        </script>
        <script type="IN/Share" data-url="http://www.bankmybiz.com" data-counter="top"></script>
      </div>
      <div class="col-xs-4">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Banking on Relationships." data-via="Bankmybiz" data-hashtags="BankingOnRelationships" data-count="vertical">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="col-xs-4">
        <div class="fb-share-button" data-href="http://www.bankmybiz.com" data-type="box_count"></div>
      </div>
    </section>
  </section>
  <section class="well">
    <%= render 'shared/profile_views' %>
  </section>
</div>