<% 
  content_for :title, "Business Financing - Business Banking - Loans | Bankmybiz" 
  content_for :description, "Bankmybiz matches bankers and small business owners. Join and complete a twelve question profile to start getting matches." 
  content_for :keywords, "Business Financing, Business Banking, Loans | Bankmybiz"
%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 hidden-xs">
    <h1 class='text-center'>Bank On Relationships</h1>
    <div class="lead text-center">
      Bankmybiz.com Matches Business Owners and Lenders <br> Get Free Access Today.
    </div>
    <div class="text-center">
      <%= link_to posts_path, class:'btn btn-lg btn-default' do %>
        <i class="icon ion-ios7-navigate"></i> Browse Questions
      <% end %>
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1 visible-xs">
    <h4 class='text-center'>Ask for Advice, Get Money</h4>
    <div class="text-center">
      <%= link_to posts_path, class:'btn btn-lg btn-default' do %>
        <i class="icon ion-ios7-navigate"></i> Browse Questions
      <% end %>
    </div>
  </div>
</div>
<div class="jumbotron hidden-xs hero-background">
  <div class="container">
    <div class="row">
      <div class="pull-left">
        <iframe class="youtube-player" type="text/html" width="450" height="250" src="http://www.youtube.com/embed/9dxfLmzVeDU?version=3&amp;hl=en_US&amp;rel=0;3&amp;autohide=1&amp;showinfo=0" frameborder="0">
        </iframe>
        <div class="splash-quote">
          "Wow, Bankmybiz.com is extraordinary. Easy to navigate, engaging interactions and spot-on connections. This will change everything".
          <div class="muted text-right">James C. - SVP Business Banker</div>
        </div>
      </div>
      <div class="text-center sign-up-buttons">
        <p>
          <a href="/auth/linkedin" class="auth_provider btn btn-linkedin splash-btn">          
            Get Free Access Today | <i class="icon ion-social-linkedin"></i>
          </a>
        </p>
        <p>
          <%= link_to new_registration_path(resource_name), class:'btn btn-default splash-btn' do %>
          Get Free Access Today | <i class="icon ion-ios7-email-outline"></i>
          <% end %>
        </p>
      </div>
      <div class="hero-creds">
        <strong>Darcey N.</strong>
        <p>Business Owner - Madison, WI</p>
      </div>
    </div>
  </div>
</div>
<div class="responsive-jumbotron visible-xs">
    <div class="responsive-video">
      <iframe class="youtube-player" type="text/html" width="300" height="170" src="http://www.youtube.com/embed/9dxfLmzVeDU?version=3&amp;hl=en_US&amp;rel=0;3&amp;autohide=1&amp;showinfo=0" frameborder="0">
      </iframe>
    </div>
    <p>
      <a href="/auth/linkedin" class="auth_provider btn btn-linkedin">          
          Free Access |  <i class="icon ion-social-linkedin"></i>
      </a>
    </p>
    <p>
      <%= link_to new_registration_path(resource_name), class:'btn btn-default' do %>
        Free Access | <i class="icon ion-ios7-email-outline"></i>
      <% end %>
    </p>
  </div>
</div>
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-12 text-center">
        <section class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="col-xs-4">
              <script src="//platform.linkedin.com/in.js" type="text/javascript">
               lang: en_US
              </script>
              <script type="IN/Share" data-url="http://www.bankmybiz.com" data-counter="top"></script>
            </div>
            <div class="col-xs-4">
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="Find a banker today!" data-via="Bankmybiz" data-hashtags="BankingOnRelationships" data-count="vertical">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-xs-4">
              <div class="fb-share-button" data-href="http://www.bankmybiz.com" data-type="box_count"></div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <br>
  </div>
  <hr>
  <div class="row">  
    <br>
  <h2 class="text-center">How Bankmybiz Works</h2>
  <br>
  <div class="well">
    <div class="row">
      <div class="col-sm-5 text-center"><h3 class='text-center'><%= image_tag "one.png", width:60 %> <br><br>Ask Questions</h3></div>
      <div class='col-sm-6 win'>
        <h3>A Network For Funding and Knowledge</h3>
        <div class="lead little">Bankmybiz is a place to share your <strong>business challenges and advice.</strong> You can ask experts on the network challenges from HR to Insurance, Business Loans to Commercial Real Estate.</div>
      </div>
    </div>
    <div class="row">      
      <div class="col-sm-5 text-center"><h3 class='text-center'><%= image_tag "two.png", width:60 %> <br><br>Meet Lenders</h3> </div>
      <div class='col-sm-6 win'>
        <h3>Your Secure Profile Matches You With Lenders</h3>
        <div class="lead little">It takes 5 minutes to fill out your Secure Bankmybiz Profile. <strong>We're proud of our proprietary matching algorithm</strong> that pre-screens funders that match your business' position and goals.</div>
      </div>
    </div>
    <div class="row">      
      <div class="col-sm-5 text-center"><h3 class='text-center'><%= image_tag "three.png", width:60 %> <br><br>Bank On Relationships</h3></div>
      <div class='col-sm-6 win'>
        <h3>Get Matches and Followers</h3>
        <div class="lead little"><strong>On Bankmybiz YOU are in control of relationships.</strong> You will only receive messages from funders and business owners you follow or match.</div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <h2 class="col-sm-12 text-center">Press</h2>
    <br>
    <div class="pull-left press">
      <%= link_to "http://host.madison.com/business/technology/biotech/madison-startup-bankmybiz-gets-spotlight-at-sxsw/article_ea6dd5df-6ddc-557a-98b2-c1e88bd8a57a.html", target:"_blank" do %>
        <% image_tag "wsj.jpg" %>
      <% end %>
    </div>
    <div class="pull-left press">
      <%= link_to "http://www.madisonmagazine.com/Madison-Magazine/November-2013/The-M-List/Michael-Adam/", target:"_blank" do %>
        <% image_tag "MM.jpg" %>
      <% end %>
    </div>
    <div class="pull-left press">
      <%= link_to "http://www.biztimes.com/article/20131001/ENEWSLETTERS05/131009989/-1/finance_blog", target:"_blank" do %>
        <% image_tag "biztimes.jpg" %>
      <% end %>
    </div>
    <div class="pull-left press">
      <%= link_to "http://www.xconomy.com/wisconsin/2014/01/09/bankmybiz-com-live-event-at-hudson-business-lounge/", target:"_blank" do %>
        <% image_tag "xconomy.jpg" %>
      <% end %>
    </div>
    <div class="pull-left press">
      <%= link_to "http://blog.score.org/category/all/", target:"_blank" do %>
        <% image_tag "score.jpg" %>
      <% end %>
    </div>
    <div class="pull-left press">
      <%= link_to "http://www.madisonstartups.com/company-profile-bankmybiz-com/", target:"_blank" do %>
        <% image_tag "madstartups.jpg" %>
      <% end %>
    </div>
    <div class="pull-left press">
      <%= link_to "http://www.bizjournals.com/milwaukee/news/2013/09/30/wisconsin-start-up-aims-to-be-linkedin.html", target:"_blank" do %>
        <% image_tag "businessjournal.jpg" %>
      <% end %>
    </div>
  </div>
</div>
</div> <!-- /container -->