<section class="answer">
  <div class="row">
    <div class="col-xs-1 text-center larger grey" style="margin-left: -8px;">
      <span class="vote-count"><%= answer.plusminus %> </span>
      <% if user_signed_in? %>
        <%= link_to vote_up_answer_path(answer), class:"#{current_user.voted_for?(answer) ? 'green disabled' : 'fade-in-green'} vote-up", remote: true do %>
         <i class="icon ion-plus-circled" rel="tooltip" title="+1 Cred"></i>
        <% end %>
        <%= link_to vote_down_answer_path(answer), class:"#{current_user.voted_against?(answer) ? 'orange disabled' : 'fade-in-orange'} vote-down", remote: true do %>
         <i class="icon ion-minus-circled" rel="tooltip" title="-1 Cred"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-11">
      <div class=""><%= auto_link(answer.body, html: { target: '_blank' }) %></div>
      <div class="muted small text-right"><%= time_ago_in_words(answer.created_at) %> ago by 
        <% if answer.user %>
          <% if user_signed_in? && !current_user.bank? %>
            <%= link_to answer.user.first_name_with_last_initial, answer.user %>
          <% else %>
            <%= answer.user.first_name_with_last_initial %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1 down">
    <% if answer.post.user == current_user %>
      <%= form_for answer do |f| %>
        <% if answer.accepted? %>
          <%= f.hidden_field :accepted, value: false %>
          <button type="submit" class="btn btn-link" style="font-size:220%;">
            <i class="icon ion-android-checkmark green" rel="tooltip" title="Remove Best Advice"></i>
          </button>
        <% else %>
          <%= f.hidden_field :accepted, value: true %>        
          <button type="submit" class="btn btn-link" style="font-size:220%;">
            <i class="icon ion-android-checkmark fade-in-green" rel="tooltip" title="Mark Best Advice (+25 Cred)"></i>
          </button>
        <% end %>
      <% end %>  
    <% elsif answer.accepted? %>
      <i class="icon ion-android-checkmark green" rel="tooltip" title="Mark Best Advice" style="font-size:220%;"></i>
    <% end %>

    </div>
    <div class="col-xs-2">
      <%= link_to answer.user do %>
        <%= profile_picture(answer.user) %>
      <% end %>
    </div>
    <div class="col-xs-6 down">
      answered <%= time_ago_in_words(answer.created_at) %> ago by 
      <% if user_signed_in? && current_user.bank == false %>
        <%= link_to answer.user.first_name_with_last_initial, answer.user if answer.user %>
      <% else %>
        <%= answer.user.first_name_with_last_initial if answer.user %>
      <% end %>
      <% if user_signed_in? && answer.user.has_active_subscription? %><i class="icon ion-checkmark-circled gold"></i><% end %>
      <% if user_signed_in? && (answer.user == current_user || current_user.admin?) %>
        <div class="smaller muted">
          <%= link_to "Edit", edit_answer_path(answer) %> |
          <%= link_to 'Delete', answer, method: :delete, data: { confirm: 'Are you sure you would like to delete this answer?' } %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render partial: 'comments/form', locals: { commentable: answer } %>
</section>