<%= form_for @subscription do |f| %>
  <% if @subscription.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class='text-center'>BankmyBiz 360&deg;</h2>
  <div class="span4 offset2">
    <div class="well">
      <% if params[:plan_id] == "1" %>
      <h4>360&deg; Biz</h4>
      <div class="small muted">1 month package</div>
      <div class="price"><strong>$49.99</strong> / month</div>
      <div class="save"></div>
      <h4>Total: <strong class='muted'>$49.99</strong></h4>
      <% elsif params[:plan_id] == "2" %>
      <h4>360&deg; Biz</h4>
      <div class="small muted">3 month package</div>
      <div class="price"><strong>$37.99</strong> / month</div>
      <div class="save">You're Saving 25%</div>
      <h4>Total: <strong class='muted'>$113.97</strong></h4>
      <% elsif params[:plan_id] == "3" %>
      <h4>360&deg; Biz</h4>
      <div class="small muted">6 month package</div>
      <div class="price"><strong>$24.99</strong> / month</div>
      <div class="save">You're Saving 50%</div>
      <h4>Total: <strong class='muted'>$149.94</strong></h4>
      <% elsif params[:plan_id] == "4" %>
      <h4>360&deg; Bank</h4>
      <div class="small muted">3 month package</div>
      <div class="price"><strong>$149.99</strong> / month</div>
      <div class="save"></div>
      <h4>Total: <strong class='muted'>$449.97</strong></h4>
      <% elsif params[:plan_id] == "5" %>
      <h4>360&deg; Bank</h4>
      <div class="small muted">6 month package</div>
      <div class="price"><strong>$112.99</strong> / month</div>
      <div class="save">You're Saving 25%</div>
      <h4>Total: <strong class='muted'>$677.94</strong></h4>
      <% elsif params[:plan_id] == "6" %>
      <h4>360&deg; Bank</h4>
      <div class="small muted">1 year package</div>
      <div class="price"><strong>$74.99</strong> / month</div>
      <div class="save">You're Saving 50%</div>
      <h4>Total: <strong class='muted'>$899.88</strong></h4>
      <% end %>
    </div>
    <div class="well">
      <h5>Get access to . . .</h5>
      <ul>
        <li>
          <i class="icon-money"></i> Who Gave You Bucks
        </li>
        <li>
          <i class="icon-eye-open"></i> Who Viewed Your Profile
        </li>
        <li>
          <i class="icon-group"></i> Who Follows You
        </li>
      </ul>
    </div>
  </div>
  <div class="span5">
    <div id="stripe_error" class="alert alert-error" style="display:none"></div>
    <div class="well clearfix">
        <%= label_tag :name, "Name on Card" %>
        <%= text_field_tag :name, nil, name: nil, class:"span4" %>
        <p class='text-center'>
          <%= image_tag "credit_card_logos_homepage.png" %>
        </p>
        <%= label_tag :card_number, "Credit Card Number " %>
        <%= text_field_tag :card_number, nil, name: nil, class:"span4" %>
        <%= label_tag :card_code, "Security Code on Card (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil, class:"input-mini" %>
        <%= label_tag :card_month, "Card Expiration" %>
        <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", class:'input-medium'}%>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class:'input-small'} %>
        <%= f.hidden_field :plan_id, value:params[:plan_id] %>
        <%= f.hidden_field :stripe_card_token %>
      <div class="actions text-right"><%= f.submit "Subscribe", class:"btn btn-success btn-large" %></div>
    </div>
  </div>
<% end %>