<div class='col-lg-6 match-card clearfix'>
  <div class="row">
    <%= link_to user_path(match), class:"col-xs-3 text-center" do %>
      <%= medium_profile_picture(match) %>
    <% end %>
    <div class="col-xs-9">
      <div class='deets'>
        <h4><%= match.name %> <%= certified_badge(match) %> <span class='text-muted small'><%= match.hq_state %></span></h4>
        <div class='text-muted small'><%= match.position %> at <%= match.org_name %></div>
        <% if match.website_url.present? %>
          <%= link_to "http://" + match.website_url do %>
            <i class="icon ion-earth"></i> <%= match.website_url %> 
          <% end %>
        <% end %>
        <div class='text-muted small'><%= match.status %></div>
        <% if user_signed_in? %>
          <div class='text-muted small'><%= current_user.percentage_match(match) %>% Match <%= !current_user.local?(match) ? "| Local" : "" %></div>
        <% end %>
      </div>
    </div>
  </div>
  <section>
    <% if match.tags.any? %>
    <div class='text-muted small'>Interests: <%= raw match.tags.first(4).map(&:name).map { |t| content_tag(:span, "#" + t, class:"tag clickable-tag") }.join(' ') %></div>
    <% end %>
  </section>
</div>