<section class="col-sm-6 col-sm-offset-3">
  <%= form_for(@post) do |f| %>
  <div class="row">
    <%= link_to current_user, class:'no-hover col-xs-2' do %>
      <%= profile_picture(current_user) %>
    <% end %>
    <div class="col-xs-10">
      <%= f.text_area :content, class:"form-control post-textarea", placeholder:"Post your questions and expertise to our network of lenders and owners . . .", id:"newPostContent" %>
    </div>
  </div>
  <section class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= f.text_field :tag_list, class:"form-control", placeholder:"Interests Keywords (separated by comma)" %>
    </div>
    <div class="col-xs-2">
      <%= f.submit "Post", class:"btn btn-success post-btn", id:"submitPost" %>
    </div>
  </section>
<% end %>
</section>