<section class="well">
  <div class="row">
    <div class="col-xs-1 grey larger text-center votes">
      <% if user_signed_in? %>
      <%= link_to vote_up_post_path(post), class:"breathing-room vote-up #{user_signed_in? && current_user.voted_for?(post) ? 'green disabled' : 'fade-in-green'}", remote: true do %>
        <i class="icon ion-chevron-up"  rel="tooltip" title="+1 Credit"> </i>
      <% end %>
      <div class="vote-count"><%= post.plusminus %></div>
      <%= link_to vote_down_post_path(post), class:"vote-down #{user_signed_in? && current_user.voted_against?(post) ? 'disabled orange' : 'fade-in-orange'}", remote: true do %>
       <i class="icon ion-chevron-down" rel="tooltip" title="-1 Credit"></i>
      <% end %>
      <% else %>
        <p class="vote-count"><%= post.plusminus %></p>
        <br>
      <% end %>
    </div>
    <div class="col-xs-11">
      <div class="row">
        <% if params[:controller] == "posts" && params[:action] == "show" %>
          <b class="large"><%= post.title %></b>
        <% else %>
          <%= link_to post, class:"title" do %> <b class="large"><%= post.title %></b> <% end %>
        <% end %>
      </div>
      <% if params[:action] == "show" %>
        <section>
          <%= auto_link(post.content, html: { target: '_blank' }) %>
        </section>
        <section class="text-right post-tags">
          <% post.tags.each do |t| %>
            <%= link_to "#{t.name}", posts_path(search: t.normalize), class:"tag clickable-tag" %>
          <% end %>
        </section>
      <% end %>
      <section class="row">
        <section class="pull-left">
            <%= link_to post.user, class:'pull-left' do %>
              <%= small_profile_picture(post.user) %>
            <% end %>
          <div class="pull-left wiggle-room">
            <%= post.user.first_name_with_last_initial if post.user %> <% if post.user.has_active_subscription? %><i class="icon ion-checkmark-circled gold"></i><% end %> <span class='text-muted small'>(<%= post.user.cred_count %> Credit)</span>
            <% if user_signed_in? %>
              <% if (post.user == current_user || current_user.admin?) %>
                <div class="smaller muted">
                  <%= link_to "Edit Post", edit_post_path(post) %> |
                  <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure you would like to delete this post?' } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </section>
        <section class='pull-right margin-right text-right'>
          <div class="row">
            <div class="col-xs-12">
              <%= render partial: 'shared/share_email_btn', locals: { post: post } %>
              <%= render partial: 'shared/share_twitter_btn', locals: { post: post } %>
              <%= render partial: 'shared/share_fb_btn', locals: { post: post } %>
              <%= render partial: 'shared/share_linkedin_btn', locals: { post: post } %>
            </div>
          </div>
          <section class="row text-muted small">
            <div class="col-xs-12">
              <%= pluralize post.answers.count, "Answer" %> | <%= pluralize post.impressions_count, "View" %>
            </div>
          </section>
        </section>
      </section>
    </div>
  </div>
  <% if params[:action] == "show" %>
    <%= render partial: 'comments/form', locals: { commentable: post } %>
  <% end %>
</section>
