<section class="newsfeed-item clearfix">
  <div class="clearfix margin-bottom">
      <div class="pull-left">
        <%= link_to post.user, class:"post-profile-pic" do %>
          <%= profile_picture(post.user) %>
        <% end %>
        <br>
        <div class="pull-left grey large voting">
          <%= post.plusminus %><i class="icon-money"></i>
        </div>
        <% unless current_user == post.user%>
          <%= link_to vote_up_post_path(post), class:"pull-left breathing-room fade-in-green" do %>
            <p><i class="icon-circle-arrow-up <%= user_signed_in? && current_user.voted_for?(post) ? 'green' : '' %>"></i></p>
          <% end %>
          <%= link_to vote_down_post_path(post), class:"pull-left fade-in-red" do %>
            <i class="icon-circle-arrow-down <%= user_signed_in? && current_user.voted_against?(post) ? 'red' : '' %>"></i>
          <% end %>
        <% end %>
      </div>
      <div class="pull-left post-content">
        <%= auto_link(post.content) %>
      </div>
    </div>
    <div class="text-right">
      <%= raw post.tags.map(&:name).map { |t| link_to t, tag_path(t), class:"tag small" }.join(' ') %>
    </div>
    <p class="text-right muted smaller">
      <%= time_ago_in_words(post.created_at) %> ago by <%= link_to "#{post.user.first_name_with_last_initial}", user_path(post.user) if post.user %>
    </p>

  <script src="//platform.linkedin.com/in.js" type="text/javascript">
   lang: en_US
  </script>
  <script type="IN/Share" data-url="<%= post_url(post) %>" data-counter="right"></script>
  <a href="#" 
    onclick="
      window.open(
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
        'facebook-share-dialog', 
        'width=626,height=436'); 
      return false;" class="no-text-decoration">
    <span class="btn btn-mini btn-facebook push-up-a-bit"><i class="icon-facebook"></i></span><span class="btn btn-mini push-up-a-bit">facebook</span>
  </a>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= post_url(post) %>" data-text="<%= post.short_content %> " data-via="bankmybiz" data-hashtags="financing">Tweet</a>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<% if user_signed_in? && (post.user == current_user || current_user.admin?) %>
<div class="text-right">
<%= link_to "Edit", edit_post_path(post), class:"smaller btn btn-mini" %>
<%= link_to 'Delete', post, class:"smaller btn btn-mini", method: :delete, data: { confirm: 'Are you sure you would like to delete this post?' } %>
</div>
<% end %>

<%= render partial: 'comments/comment', collection: post.comments.where('content is not null').order('created_at asc'), as: :comment, locals: { post: post } %>
<%= render partial: 'comments/form', locals: { post: post } %>
</section>