<div class="post">
  <div class="row">
    <div class="col-xs-1 grey larger text-center">
      <%= link_to vote_up_post_path(post), class:"breathing-room fade-in-green" do %>
        <i class="icon ion-chevron-up <%= user_signed_in? && current_user.voted_for?(post) ? 'green disabled' : '' %>"  rel="tooltip" title="+1 Cred"> </i>
      <% end %>
      <%= post.plusminus %>
      <%= link_to vote_down_post_path(post), class:"fade-in-orange #{user_signed_in? && current_user.voted_against?(post) ? 'disabled orange' : ''}" do %>
       <i class="icon ion-chevron-down" rel="tooltip" title="-3 Cred"></i>
      <% end %>
    </div>
    <div class="col-xs-11">
      <% if params[:controller] == "posts" && params[:action] == "show" %>
        <b class="large"><%= post.title %></b>
      <% else %>
        <%= link_to post, class:"title" do %> <b class="large"><%= post.title %></b> <% end %>
      <% end %>
    </div>
  </div>
  <% if params[:action] == "show" %>
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1">
      <%= auto_link(post.content, html: { target: '_blank' }) %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 text-right">
      <% post.tags.each do |t| %>
        <%= link_to "##{t.name}", posts_path(search: t.name), class:"tag clickable-tag" %>
      <% end %>
    </div>
  </div>
  <section class="row">
    <div class="col-sm-5">
      <div class="col-xs-4">
        <%= link_to post.user do %>
          <%= profile_picture(post.user) %>
        <% end %>
      </div>
      <div class="col-xs-8">
        posted <%= time_ago_in_words(post.created_at) %> ago by 
        <% if user_signed_in? && current_user.bank == false %>
          <%= link_to post.user.first_name_with_last_initial, post.user if post.user %>
        <% else %>
          <%= post.user.first_name_with_last_initial if post.user %>
        <% end %>
        <% if user_signed_in? && (post.user == current_user || current_user.admin?) %>
          <div class="smaller muted">
            <%= link_to "Edit Post", edit_post_path(post) %> |
            <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure you would like to delete this post?' } %>
          </div>
        <% end %>
      </div>
    </div>
    <section class='col-sm-7 text-right'>
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'shared/share_email_btn', locals: { post: post } %>
          <%= render partial: 'shared/share_twitter_btn', locals: { post: post } %>
          <%= render partial: 'shared/share_fb_btn', locals: { post: post } %>
          <%= render partial: 'shared/share_linkedin_btn', locals: { post: post } %>
        </div>
      </div>
      <section class="row text-muted">
        <div class="col-xs-12">
          <%= pluralize post.answers.count, "Answer" %> | <%= pluralize post.impressions_count, "View" %>
        </div>
      </section>
    </section>
  </section>
  <% if params[:action] == "show" %>
    <%= render partial: 'comments/form', locals: { commentable: post } %>
  <% end %>
</div>
<div class="hr-line"></div>
