<section class="newsfeed-item clearfix">
  <div class="clearfix margin-bottom">
    <div class="follow-form">
      <% if user_signed_in? %>
        <%= render partial: "users/follow_form", locals: { user: post.user } %>
      <% end %>
    </div>
    <div class="pull-left post-profile-pic">
      <%= profile_picture(post.user) %>
    </div>
    <div class="pull-right grey large">
      <%= post.plusminus %>
      <% if user_signed_in? %>
        <% unless current_user == post.user%>
          <%= link_to vote_up_post_path(post), class:"breathing-room fade-in-green" do %>
            <i class="icon ion-plus-round <%= user_signed_in? && current_user.voted_for?(post) ? 'green' : '' %>"  rel="tooltip" title="Give <%= post.user.first_name_with_last_initial %> a Buck"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="post-content">
      <%= auto_link(post.content, html: { target: '_blank' }) %>
    </div>
    <div class="text-left">
      <%= raw post.tags.map(&:name).map { |t| content_tag(:span, t, class:"tag smaller") }.join(' ') %>
    </div>
    <p class="text-right muted small">
      posted <%= time_ago_in_words(post.created_at) %> ago by 
      <% if user_signed_in? && !current_user.bank? %>
        <%= link_to post.user.first_name_with_last_initial, post.user if post.user %>
      <% else %>
        <%= post.user.first_name_with_last_initial if post.user %>
      <% end %>
    </p>
    <% if user_signed_in? && (post.user == current_user || current_user.admin?) %>
      <div class="text-right smaller muted">
        <%= link_to "Edit Post", edit_post_path(post) %> |
        <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure you would like to delete this post?' } %>
      </div>
    <% end %>
    <p class='text-right'>
      <a href="mailto:?subject=Interesting Post&body=Here is a post from BankmyBiz.com I thought you'd like%0D%0A%0D%0A<%= post.content %>%0D%0A%0D%0ABy: <%= post.user.first_name_with_last_initial %>" class="btn btn-default btn-xs"><i class="icon ion-ios7-email-outline"></i></a>
      <a href="https://twitter.com/share?url=https%3A%2F%2Fwww.bankmybiz.com%2Fposts%2F<%= post.id %>&text=<%= post.content %>" target='_blank'>
        <span class="btn btn-xs btn-twitter"><i class="icon ion-social-twitter"></i>
      </a>
      <a href="#" 
        onclick="
          window.open(
            'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
            'facebook-share-dialog', 
            'width=626,height=436'); 
          return false;" class="no-text-decoration">
        <span class="btn btn-xs btn-facebook"><i class="icon ion-social-facebook"></i></span>
      </a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.bankmybiz.com%2Fposts%2F<%= post.id %>&title=<%= post.content %>&source=BankmyBiz.com" rel="nofollow" onclick="NewWindow(this.href,'template_window','550','400','yes','center');return false" onfocus="this.blur()" target="_blank">
        <span class="btn btn-xs btn-linkedin"><i class="icon ion-social-linkedin"></i>
      </a>
    </p>
<%= render partial: 'comments/comment', collection: post.comments.where('content is not null').order('created_at asc'), as: :comment, locals: { post: post } %>
<%= render partial: 'comments/form', locals: { post: post } %>
  </div>
</section>
<div class="hr-line"></div>