<section class="newsfeed-item clearfix">
<!--   <div class="pull-left clear-left dollar">
  $
  </div> -->
  <div>
    
    <div>
      <div class="post-profile-pic"><%= large_profile_picture(current_user) %></div>
      <%= auto_link(post.short_content) %>
    </div>
    <div class="text-right">
      <%= raw post.tags.map(&:name).map { |t| link_to t, tag_path(t), class:"label small" }.join(' ') %>
    </div>
    <p class="text-right muted smaller">
      <%= time_ago_in_words(post.created_at) %> ago by <%= link_to "#{post.user.name}", user_path(post.user) if post.user %>
    </p>
  </div>
<%= render partial: 'comments/comment', collection: post.comments.where('content is not null'), as: :comment, locals: { post: post } %>
<%= render partial: 'comments/form', locals: { post: post } %>
</section>