<div class="span3">       
  <div class="well hidden-phone">
    <h5>The Newsfeed</h5>
    <p>
    <% if current_user.bank? %>
        Post engaging or helpful content to the newsfeed to interact with more potential customers and improve your reputation.
    <% else %>
        Peruse the newsfeed for content that interests you from our network of helpful bankers. You may also create and share content to improve your reputation.
    <% end %>
    </p>          
  </div>
  <div class="well">
    <h3>24 Bucks</h3>
    <div>were added to your posts</div>
    <h3>4 Users</h3>
    <div>viewed your profile</div>
    </br>
    <div class="text-center"> 
      <a href="#" class="btn btn-success">Upgrade to Learn Who</a> 
    </div>
  </div>
</div>
<div class="span6">
  <div class="clearfix">
    <%= form_for @post do |f| %>
      <%= f.text_area :content, class:"span6 post-textarea", placeholder:"Share your status and your expertise . . ." %>
      <%= f.text_field :tag_list, class:"span5", placeholder:"Tags (separated by comma)" %>
      <%= f.submit "Post", class:"btn pull-right" %>
    <% end %>
    <%= render partial: "posts/post", collection: @posts, as: :post %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<div class="span3">
  <div class="well dark">
    <p class="muted">Trending Tags</p>
    <%= render partial: "shared/tags", locals: { tags: @trending_tags }  %>
  </div>
  <div class="well">
    <h5 class="matches"><%= current_user.bank? ? "Businesses" : "Banks" %> you May Like</h5>
    <%= render partial: "users/user", collection: @recommended_users, as: :user %>
    <% if @user == current_user %>
      <%= link_to "#{@user.started_profile? ? 'Improve Profile' : 'Build Profile'}", edit_profile_path(@user) %>
      <div class='muted small'>for more and better matches</div>
    <% end %>
  </div>
  <div class="well hidden-phone">
    <h5>Your BMB Profile</h5>
    <p>
      The BankMyBiz newtork uses matching algorithms to match you with <%= current_user.bank? ? "businesses" : "banks" %> that are suitable to you. The more complete your profile, the better the matches we can give you.
    </p>
  </div>
</div>
