<div class="span3">       
  <div class="border-right">
    <%= render 'shared/trending_tags' %>
    <hr>
    <% if @recent_messages.any? %>
      <div class="home-messages">
        <p class="muted">Your Messages</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="20%">From</th>
              <th width="40%">Subject</th>
            </tr>
          </thead>
          <tbody class="table-bordered">
            <% @recent_messages.each do |rm| %>
              <tr data-link="<%= message_path(rm) %>" class="<%= rm.is_read? ? '' : 'unread' %>">
                <td><%= rm.sender.first_name_with_last_initial %></td>
                <td>
                  <%= rm.short_subject %>
                  <span class="small muted"><%= time_ago_in_words(rm.created_at) %> ago</span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="text-right"><%= link_to "to inbox", messages_path %></div>
      </div>
      <hr>
    <% end %>
    <div class="home-messages">
      <p class="muted">Who you Follow</p>
      <ul>
        <% @following_users.each do |fu| %>
          <li>
            <p>
              <%= small_profile_picture(fu) %>
              <%= link_to fu.first_name_with_last_initial, fu %>
            </p>
          </li>
        <% end %>
      </ul> 
    </div>
  </div>
</div>
<div class="span6">
  <div class="clearfix">
    </br>
    <% if current_user.has_image? %>
      <%= form_for @new_post do |f| %>
        <%= link_to current_user do %>
          <%= profile_picture(current_user) %>
        <% end %>
        <%= f.text_area :content, class:"span5 post-textarea", placeholder:"Post your questions and expertise to our network of lenders and owners . . ." %>
        <%= f.text_field :tag_list, class:"span4", placeholder:"Tags (separated by comma)" %>
        <%= f.submit "Post", class:"btn pull-right btn-success" %>
      <% end %>
    <% else %>
      <div class="well alert-info" id="fadeInAlert">
        <%= link_to "Add your profile picture", add_avatar_path %>, or <a href="/auth/linkedin" class="auth_provider">login through LinkedIn</a>  to post to the Newsfeed
      </div>
    <% end %>
    <%= render partial: "posts/post", collection: @posts, as: :post %>
  </div>
</div>

<div class="span3">  
  <div class="border-left">
    <%= render 'shared/improve_profile' %>
    <hr>
    <%= render 'shared/profile_views' %>
  </div>
</div>
