<div class="span3">       
  <div class="well">
    <h5>The Newsfeed</h5>
    <p>
    <% if current_user.bank? %>
        Post engaging or helpful content to the newsfeed to interact with more potential customers and improve your reputation.
    <% else %>
        Peruse the newsfeed for content that interests you from our network of helpful bankser. You may also create and share content to improve your reputation.
    <% end %>
    </p>          
  </div>
  <div class="well">
    <h3>24 Bucks</h3>
    <div>were added to your posts</div>
    <h3>4 Users</h3>
    <div>viewed your profile</div>
    </br>
    <div class="text-center"> 
      <a href="#" class="btn btn-success">Upgrade to Learn Who</a> 
    </div>
  </div>
</div>
<div class="span6">
  <%= form_tag root_path, :method => :get, class:"form-search" do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class:"span4 search-query", placeholder:"Search Actions and Tags" %>
      <%= button_tag "Search", name: nil, class:"btn" %>
    </div>
  <% end %>
  <h5>Newsfeed</h5>
  <div class="comment-form clearfix">
    <%= form_for @post do |f| %>
      <%= f.text_area :content, placeholder:"Share your status and your expertise . . ." %>
      <%= f.text_field :tag_list, placeholder:"Tags (separated by comma)" %>
      <%= f.submit "Post", class:"btn pull-right" %>
    <% end %>
  </div>
  <%= render partial: "posts/post", collection: @posts, as: :post %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<div class="span3">
  <div class="well dark">
    <p class="muted">Trending Tags</p>
    <%= render partial: "shared/tags", locals: { tags: @trending_tags }  %>
  </div>
  <div class="well">
    <h5 class="matches"><%= current_user.bank? ? "Businesses" : "Banks" %> you May Like</h5>
    <%= render partial: "users/user", collection: @recommended_users, as: :user %>
    <%= link_to "#{current_user.started_profile? ? 'Improve Your Profile' : 'Build Your Profile'}", edit_profile_path(current_user), class:"btn btn-primary" %>
    <div class='muted small'>for more and better matches</div>
  </div>
  <div class="well">
    <h5>Your BMB Profile</h5>
    <p>
      The BankMyBiz newtork uses matching algorithms to match you with <%= current_user.bank? ? "businesses" : "banks" %> that are suitable to you. The more complete your profile, the better the matches we can give you.
    </p>
  </div>
</div>
