<div class="span3">       
  <div class="border-right">
    <%= render 'shared/trending_tags' %>
    <div class="hr-line"></div>
    <%= render 'shared/messages' %>
    <div class="hr-line"></div>
    <%= render 'shared/following' %>
  </div>
</div>
<div class="span6">
  <div class="clearfix">
    </br>
    <% if current_user.has_image? %>
      <%= form_for @new_post, html: { class:"clearfix position-relative" } do |f| %>
        <%= link_to current_user, class:'no-hover' do %>
          <%= profile_picture(current_user) %>
        <% end %>
        <%= f.text_area :content, class:"span5 post-textarea", placeholder:"Post your questions and expertise to our network of lenders and owners . . .", id:"newPostContent" %>
        <%= f.submit "Post", class:"btn pull-right btn-success post-btn", id:"submitPost" %>
        <%= f.text_field :tag_list, class:"pull-left tag-list", placeholder:"Keywords (separated by comma)" %>
        <div class="post_char_count text-right muted"><span id="postCharCount">0</span>/250</div>
      <% end %>
    <% else %>
      <div class="well alert-info" id="fadeInAlert">
        <i class="icon-bell-alt"></i> To post to the Newsfeed you must first
          <ul>
            <li>
              <%= link_to "Upload a profile picture", user_path(current_user) %>, or <a href="/auth/linkedin" class="auth_provider">Fetch it through LinkedIn</a> 
            </li>
          </ul>
      </div>
    <% end %>
    <div class="hr-line"></div>
    <%= render partial: "posts/post", collection: @posts, as: :post %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<div class="span3">  
  <div class="border-left">
    <%= render 'shared/improve_profile' %>
    <div class="hr-line"></div>
    <%= render 'shared/profile_views' %>
  </div>
</div>
