<div class="span3">       
  <%= render 'shared/improve_profile' %>
  <%= render 'shared/bmb_profile' %>
</div>
<div class="span6">
  <div class="clearfix">
    <strong class="big">The Newsfeed</strong>
    </br>
    <%= form_for @post do |f| %>
      <%= f.text_area :content, class:"span6 post-textarea", placeholder:"Post your questions and expertise to our network of lenders and owners . . ." %>
      <%= f.text_field :tag_list, class:"span5", placeholder:"Tags (separated by comma)" %>
      <%= f.submit "Post", class:"btn pull-right" %>
    <% end %>
    <%= render partial: "posts/post", collection: @posts, as: :post %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<div class="span3">
  <%= render 'shared/trending_tags' %>
  <%= render 'shared/profile_views' %>
</div>
