<% 
  content_for :title, "#{@post.tags.first(3)[0].try(:normalize)} - #{@post.tags.first(3)[1].try(:normalize)} - #{@post.tags.first(3)[2].try(:normalize)} | Bankmybiz" 
  content_for :description, "#{@post.title[0,155]}" 
  content_for :keywords, "#{@post.tags.first(3)[0].try(:normalize)}, #{@post.tags.first(3)[1].try(:normalize)}, #{@post.tags.first(3)[2].try(:normalize)}"
%>

<div class="col-sm-8">
  <section>
    <%= link_to root_path, class:'btn btn-default' do %>
      <i class="icon ion-ios7-arrow-back"></i> Challenges
    <% end %>
  </section>
  <section>
    <%= render partial: 'posts/post', locals: { post: @post } %>
    <% if user_signed_in? %>
      <% if current_user.has_image? %>
        <%= render partial: 'answers/form', locals: { post: @post } %>    
      <% else %>
        <div class='well alert-warning text-center'>
          <i class="icon ion-information-circled"></i> Add your <%= link_to "Profile Picture", edit_profile_path(current_user) %> to Post Advice.
        </div>
      <% end %>
    <% end %>
    <% if false %>
      <div class='alert alert-warning' style="padding:10px;font-size:110%;">
        <u><strong><%= pluralize @post.answers.count, "Piece" %> of Advice</strong></u> posted on this challenge.
        <a href="/auth/linkedin">Connect through Linkedin</a>, <%= link_to "Sign Up", new_registration_path(resource_name) %>, or <%= link_to "Login", new_session_path(resource_name) %> to view them and participate.
      </div>
    <% end %>
    <%= render partial: 'answers/answer', collection: @post.answers.where('body IS NOT NULL').order('accepted ASC, created_at DESC'), as: :answer, locals: { post: @post } %>
  </section>
</div>

<%= render 'shared/right_sidebar' %>

