<div class="span3">       
  <div class="border-right">
    <%= render 'shared/trending_tags' %>
    <hr>
    <%= render 'shared/messages' %>
    <hr>
    <%= render 'shared/following' %>
  </div>
</div>
<div class="span6">
  <%= link_to "Back", :back %>
  <%= render partial: 'posts/post', locals: { post: @post } %>
</div>

<div class="span3">  
  <div class="border-left">
    <% if user_signed_in? %>
    <%= render 'shared/improve_profile' %>
    <hr>
    <%= render 'shared/profile_views' %>
    <% end %>
  </div>
</div>