<% 
  content_for :title, "Angel Investment - Business Funding - Small Business | Bankmybiz" 
  content_for :description, "When an individual, or group, provides money for a business startup, usually in exchange for equity (ownership) in the business." 
  content_for :keywords, "SBA, Small Business, Government Loan | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>Put up Your Assets</h3>
        <p>
          Angel Investment is when an individual, or group, invests money in a business. Usually the money is in exchange for equity, or a part-ownership, in the business and future business growth. Historically angel investors were a family member or friend of an owner of the business startup, but this greatly depends on the industry. 
        </p>
        <blockquote>
          <p>Since angel investors are personally invested in the business’ growth, they might offer more favorable terms than other business lenders or investors.</p>
        </blockquote>
        <h3>What do Angels Do?</h3>
        <p>
          Angel investors invest their own money to spur the startup business's growth. Angel investors often act at a very early stage of the business, typically before most business bankers, or other certified lenders, would loan money to fuel the startup’s business growth. Since angel investing happens at an early stage of the business, angel investors negotiate terms more informally and directly with the business owner.  In this way angel investors are quite different than <%= link_to "Venture Capitalists", venture_capital_path %> in how they try to create business growth.  
        </p>
        <h3>Not Always One Person</h3>
        <p>
          Generally angel investors act alone, but increasing a number of angel investors organize themselves into angel networks or angel groups to fuel diverse business growth. This allows angel investors to pool their investments, which spreads out the risk.  This also enables angel investors to share knowledge from past business investments, business loans, and careers..  Note that angel investors are not typically certified lenders or business bankers.
        </p>
        <h3>Investors Personally Invested</h3>
        <p>
          An important part of angel investing is that often the investor takes a personal interest in the business as well as a financial stake in the business growth.  This means that the angel investor acts as an advisor to the new business, and can provide valuable advice.  It is commonly believed that business startups with angel investors avoid typical pitfalls for a new business. One example of advice could be how to avoid expensive business loans.  Since angel investors are personally invested in the business’ growth, they might offer more favorable terms than other business lenders or investors.  It is not uncommon for an angel investor to view their financial contribution as an investment in the person as well as the business itself.  This means that business owners with a good relationship with their angel(s) may receive more support even if their business startup fails; a scenario unlikely for conventional business bank loans from certified lenders.
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>Angels will give you enought for you to grow, but you might have to proove it for it.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">A-</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>There is no monthly payment, but you will be giving away equity in your company.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>You will be giving up equity in your company but angel investors only succeed if you succeed.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B-</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>You are building a partnership with any Angel Investor.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">C-</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>Its about who you know and how good your pitch is.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge text-center">D</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>It usually takes 6 months to find investors, negotiate terms, and close a deal.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>