<% 
  content_for :title, "Crowd Funding - JOBS Act - Startup Investing | Bankmybiz" 
  content_for :description, "Crowdfunding startups is a new ."
  content_for :keywords, "Term Loan, Equipment Loan, Business Financing | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>A New Way to Finance your Company</h3>
        <p>
          Crowd funding is similar to Kickstarter or Indiegogo, but instead of rewarding investors with product or incentives, you reward them with equity in your company.  These investors rarely have a say in how the business is run, and so they are referred to as silent partners.  The amounts which crowd funders contribute is often relatively small, but since there can be many of them, the total amount of cash available to the business can be large.
        </p>
        <blockquote>
          <p>Crowdfunding is good for a tech savvy company with a product or service that attracts people emotionally.</p>
        </blockquote>

        <h3>Leap Before You Look</h3>
        <p>
          Crowd funding is a new type of business financing that is still largely being established.  Many states prevent non-professional investors from crowd funding, while other states do not allow it at all. While it is becoming easier and easier to raise money from crowd funding, new developments are happening all the time so it is important to keep your ear to the ground.  
        </p>

        <h3>Ask for Advice</h3>
        <p>
          If you want more information on this developing funding source, ask a question on the  Bankmybiz newsfeed and a crowd funding consultant or expert will help answer your question. <%= link_to "Ask For Advice", new_post_path %>
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>Investors will take a percent of your company, however they are invested in your success. If you are to fail, you do not owe them anything. They will also help spread the word about your business.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Besides giving up equity, there is no repayment. But it is costly to your time to run.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">C</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>Depending on how many investors you can get excited, it can be a large amount for a business just starting out.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge text-center">C-</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>Setting up a crowdfunding project could take months of planning and fundraising.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">C-</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>You need to find multiple, sometimes many, individuals who are probably not familiar with all of the new steps of crowdfunding for equity. It can be a lot of logistical work in addition to getting your business going. </p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">D</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>Crowdfund investors are in your business for the long haul.  While they generally do not have a say in how the business is run, if your company does really well, it could be difficult to buy back their equity. Also you would have to conduct many different transactions with each crowdfunder.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>