<% 
  content_for :title, "Crowdfunding Small Businesses - Rewards - Kickstarter | Bankmybiz" 
  content_for :description, "Crowdfunding can be an innovative way for small businesses to fund new products and spaces."
  content_for :keywords, "Crowdfunding Small Businesses, Rewards, Kickstarter | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>Kickstart Your Business</h3>
        <p>
          Sites like <%= link_to "Kickstarter", "https://kickstarter.com" %> and <%= link_to "Indiegogo", "https://indiegogo.com" %> have popularized funding products, events, and works of art and music through offering rewards to backers. A big question a lot of small businesses are asking themselves is: How can I use this new tool to fund my business? 
        </p>
        <h3>Who is Reward Crowdfunding For?</h3>
        <p>
          Crowdfunding for rewards is best suited for people who have unique rewards to offer to their backers. Film makers offer DVDs or free downloads of the movie they are creating. Musicians offer the albums they create with backers' money. Technologists and product designers offer swag and even the first run of the product itself. Basically, crowdfunding for rewards works best if you have an attractive set of rewards for potential backers.
        </p>
        <blockquote>
          <p>Crowdfunding for rewards is best suited for people who have unique rewards to offer to their backers.</p>
        </blockquote>

        <h3>Make your Campagin</h3>
        <p>
          The important parts of a rewards-based crowdfunding campaing are the <strong>Video, Writing, and Rewards</strong>. Learn from tutorials or get professional help preparing your video, descriptions of your project, and constructing your list of rewards. Remember that the rewards you offer you will have to fulfill, so be prepared to deliver whatever you promise.
        </p>

        <h3>Just Turn it On? NO!</h3>
        <p>
          Novice crowd funders think that they can just turn on their Kickstarter or Indiegogo project and the money will come pouring in. Nope! Successful Kickstarter and Indiegogo campaigns require a lot of preparation and marketing. Before publishing your campaign connect with advocates who will promote your campaign to their members and customers. Leverage your passionate customers' networks and ask them to promote your campaign throughout their networks.
        </p>

        <h3>The 70% Trick</h3>
        <p>
          Remember that many Crowdfunding campaigns (like Kickstarter) need to "Tip" at a certain funding amount to get any of the money. However, campaigns that can get to 70% funded have a 90% chance of being funded completely. So focus on getting to 70% as quick as you can and you'll make it the rest of the way.
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>Anyone can do one!</p>
          </div>

          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>It takes a lot of hard work and 6-8% will go to Kickstater or Indiegogo</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>You have to pick an amount that is not too high and not too low.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>You have to send the rewards.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">B-</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>If you succeed you'll have to send out rewards.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge text-center">C</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>It takes weeks to prepare, a month to run, and then potentially weeks or months to fulfill the rewards after.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>