<% 
  content_for :title, "Deposits - Savings - Sustainable Business | Bankmybiz" 
  content_for :description, "Deposits and savings can be a safe and steady way to build and grow your small business." 
  content_for :keywords, "Deposits, Savings, Sustainable Business | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>Get the Equipment You Need</h3>
        <p>
          In cases where you need a tangible and (potentially) salable piece of equipment to grow your business, an equipment loan is for you. Say for example you could significantly increase revenue if you had three more heavy trucks, or a new commercial refrigerator, or you repaired your packaging machine. These are all good examples of where an equipment loan would be a match. 
        </p>
        <blockquote>
          <p>In cases where you need a large tangible piece of equipment to grow your business, an equipment loan is for you.</p>
        </blockquote>
        
        <h3>How it Works</h3>
        <p>
          In a traditional <%= link_to "Asset Based Loan", asset_based_loan_path %> you already own an asset that becomes collatoral against the loan amount. In an Equipment Loan you are going to use the loan to purchase or repair equipment and that equipment will then serve as the collateral to the loan.
        </p>

        <h3>Advantages</h3>
        <p>
          Equipment loans are a good way to grow an asset-heavy business like construction, manufacturing, or logistics. Since the equipment you repair or buy with the loan serves as the collateral, you can qualify quicker and limits of total outstanding debt will be higher. 
        </p>

        <h3>Equipment Loan Specialists</h3>
        <p>
          There are national and regional lenders who specialize in equipment loans. Building a relationship with these specialists can also afford you expert and free advice on where to find and purchase economical machinery. 
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge text-center">A+</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>Very fast.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>Going to give you enough for the equipment you need.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'></p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Depends on who you work with.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>The asset is collateral. Amortization depends on the size and equipment.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B-</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>The first one you do will be harder, but with an exisiting relationship they are quick and easy.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>