<% 
  content_for :title, "Term Loan - Equipment Loan - Business Financing | Bankmybiz" 
  content_for :description, "A Term Loan is what most people mean when they say 'Business Loan' and is a traditional bank loan for small business growth."
  content_for :keywords, "Term Loan, Equipment Loan, Business Financing | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3><i>The</i> Business Loan</h3>
        <p>
          A Term Loan is what most people mean when they say "Business Loan." Term Loans (sometimes called "Equipment Loans") are perfect for making improvements to existing business assets or aquiring new assets, such as equipment or machinery. Term Loans are not for paying revolving costs, such as payroll. (To learn more about business loans designed for revolving costs see <%= link_to "Line of Credit", line_of_credit_path %>.) 
        </p>
        <blockquote>
          <p>A Term Loan is similar to a variable rate home mortgage loan for an individual, but meant for a business to aquire or improve fixed assets.</p>
        </blockquote>

        <h3>Prime Rate</h3>
        <p>
          Each Term Loan typically has a floating interest rate based of the current PRIME rate. The PRIME rate can fluctuate depending on the global economy and overall demand for business loans. An example of a rate for this kind of business loan may be Prime + 2%.  Meaning the rate you pay on the business loan is whatever the current Prime rate is, plus an additional 2%. The plus 2% on your interest rate would remain constant while the Prime number could fluctuate or “float”.  Term loans almost always mature between one and 10 years. 
        </p>

        <h3>For Example ... </h3>
        <p>
          Imagine many you own of a loca small business, let's say a bakery, and you are looking to purchase a new oven. With these ovens will grow your business because you will be able to bake more bread. You also would like capital to expand your shop and take over the vacant space next to your current location. You would be an excellent candidate for a term loan because you are planning to purchase a fixed asset and expand your existing asset of your space. 
        </p>

        <h3>Slow and Steady Wins the Race</h3>
        <p>
           Being a traditional business loan, a Term Loan, has its limitations of who qualifies. Term Loans are best for businesses that have a steady monthly income. Its important to show steady cashflow in order to make the monthly payments (with interest!) on the loan. Also most banks won't even consider you for a loan like this one without being in business for two tax cycles. But it doesn't hurt to ask if you have the cashflow.
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3><span class='text-muted'>Compare</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Prime + 1 is a pretty good rate!</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B-</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>You get what you qualify for.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge text-center">B-</h1>
            <h3 class='text-center'>Timeline</h3>
            <p class='text-muted'>With all your <%= link_to "documents ready", "http://blog.bankmybiz.com/post/64411749413/the-best-way-to-expedite-the-loan-approval-process" %> its a 2-3 week turn around.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">C+</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>All your business assets are up as collatoral.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">C</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>Must be a revenue positive 2 year-old business.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">C-</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>Easy to exit once the term is up, but exit before and you'll probably face a penalty.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>