<% 
  content_for :title, "Factoring - Accounts Receivable - AR Financing | Bankmybiz" 
  content_for :description, "A Factoring or 'AR Financing' is a business loan based off of your company’s accounts receivables (the money that is owed to your company by your customers)."
  content_for :keywords, "Factoring, Accounts Receivable, AR Financing | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>Accounts Receivable</h3>
        <p>
          A Factoring Loan is a business loan where a financial intermediary purchases receivables from a company. A factor is essentially a business loan that agrees to pay the company the value of the invoice minus a discount for commission and fees. The factor advances most of the invoiced amount to the company immediately and the balance upon  receipt of funds from the invoiced party. 
        </p>
        <h3>Find the Right Fit</h3>
        <p>
          Although factoring is a relatively expensive form of financing, factors provide a valuable service to (a) companies that operate in industries where it takes a long time to convert receivables to cash, and (b) companies that are growing rapidly and need cash to take advantage of new business growth opportunities.
        </p>

        <blockquote>
          <p>Factoring is a great form of financing if it is a good fit for your company.</p>
        </blockquote>
        <h3>Customer's Creditworthiness</h3>
        <p>
          Note that the factor is more concerned with the creditworthiness of the invoiced party - Client Co. in the example above - rather than the company from which it has purchased the receivables (ABC Manufacturers Inc. in this case).  This is a good business loan for those who do not have the best credit.
        </p>

        <h3>A Good Example</h3>
        <p>
          For example, assume a factor has agreed to purchase an invoice of $1 million from ABC Manufacturers Inc., representing outstanding receivables from Client Co. The factor may discount the invoice by say 4%, and will advance $720,000 to ABC Manufacturers Inc. The balance of $240,000 will be forwarded by the factor to ABC Manufacturers Inc. upon receipt of the $1 million from Client Co. The factor's fees and commissions from this factoring deal amount to $40,000.
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>As much cash as your accounts receivable.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>At most a year commitment, or until you receive payments from customers; factoring companies generally willing to work with you.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge text-center">A-</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>You get paid on your accounts receivable even before your customers pay you.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>Based on the creditworthiness of your clients, and your current account receivables.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">B</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>Not as long as a <%= link_to "Term Loan", term_loan_path %>, and generally flexibility with the loan terms.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">C</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Generally a low interest rate (4-16%), but will have commission fee.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>