<% 
  content_for :title, "Merchant Cash Advance - Bank Loan - Growth | Bankmybiz" 
  content_for :description, "A Merchant Cash Advance is money in exchange for a percentage of future daily credit card income."
  content_for :keywords, "Merchant Cash Advance, Bank Loan, Growth  | Bankmybiz"
%>

<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>Credit Card Receipts</h3>
        <p>
         A Merchant Cash Advance is money in exchange for a percentage of future daily credit card income. This source of funding is quick and flexible, but it is costly, which makes Merchant Cash Advance a great choice for a young, rapidly growing company with high credit card receipts. A more established business (2 with years of filed taxes) would be better served by a <%= link_to "LOC", line_of_credit_path %> or a <%= link_to "Term Loan", term_loan_path %>. 
        </p>
        <h3>How to Do It</h3>
        <p>
          To start, contract with a merchant cash advance provider. Once the deal is done, the merchant cash advance provider will collect their fees directly with the credit card processor that settles credit card payments for the business. Each time a customer makes a purchase with the business, part of either the debit- or credit-card purchase until the lump sum and fee to the merchant cash advance provider is met. Most providers of merchant cash advances have partnerships with card-payment processors which allows them to take payments directly from a business owner's card-swipe terminal. This allows for the business owner to focus on business growth instead of shopping around for business loans.
        </p>
        <blockquote>
          <p>Merchant Cash Advance is a great choice for a young, rapidly growing company with high credit card receipts</p>
        </blockquote>
        <h3>Its Gonna Cost You</h3>
        <p>
          Merchant cash advances are often more expensive than a traditional business loan.  If the rates charged are too high, this can hurt business growth due to burdensome fees.  These high fees can limit a business’ future ability to discount more than if they had gotten a business loan. 
        </p>
        <h3>You Pay When You Get Paid</h3>
        <p>
          The most important advantage Merchant Cash Advance has over a traditional business loan (such as a <%= link_to "Term Loan", term_loan_path %> or an <%= link_to "LOC", line_of_credit_path %>) is that payments to the merchant cash advance company vary directly with the your sales. This gives you, the business owner, greater flexibility to manage your cash flow, especially during a slow or off season. If a business owner experiences unexpected low business growth, this option also is better than a typical business loan.
        </p>

        <h3>Fast Money</h3>
        <p>
          A Merchant Cash Advance is typically processed quicker than a typical business loan from a certified business lender, giving business owners fast access to capital to fuel business growth. Also, merchant cash advance providers often give more thought to the performance of a business more than the owner’s personal credit scores. This means that merchant cash advances offer an alternative to businesses who may not qualify for a conventional business bank loan from business lenders. 
        </p>

        <h3>For Example</h3>
        <p>
           A business owner sells gets a Merchant Cash Advance of $40,000.  She immediately receives a  $40,000 lump sum payment from a merchant cash advance provider. The merchant cash advance provider then collects its fraction (typically 4-10%) from every credit or debit card sale until $44,000 has been collected.  The time period could be short or long depending entirely on sales due to business growth.
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3 class='text-center'><span class='text-muted'>Grade</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge text-center">A</h1>
            <h3 class='text-center'>Funding Speed</h3>
            <p class='text-muted'>The application and process is quick 1-2 weeks with minimal requirements.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>If you have enough credit card receipts you are approved.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">B-</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>You won't have any collateral, but the fees are very high.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">C</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>You will receive only a fraction of credit card receipts - money you would get otherwsie.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">C</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>Contract is usually a year with exit penalties</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">D-</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>The rate here will be very high and include fees. Be sure you have the profit and growth to afford this high cost.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>