<% 
  content_for :title, "SBA | Small Business | Government Loan - Bankmybiz" 
  content_for :description, "The U.S. Small Business Administration (SBA) is an agency of the government that assists small businesses." 
  content_for :keywords, "SBA, Small Business, Government Loan | Bankmybiz"
%>
<div class="row">
  <%= render partial: 'options_nav' %>
  <div class="col-sm-9">
    <h1 class='text-center'><%= params[:action].underscore.titlecase.upcase %></h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <h3>Intro</h3>
        <p>
          The <b>U.S. Small Business Administration (SBA)</b> is an independent agency of the federal government. The SBA offers aid, advice, assistance and protects the interests of small businesses. There are many different SBA offices spread out throughout the country which enable small businesses a chance to interact locally with the SBA.  
        </p>
        <blockquote>
          <p>The SBA offers aid, advice, assistance and protects the interests of small businesses.</p>
        </blockquote>
        
        <h3>Micro Loans</h3>
        <p>
          The SBA offers a variety of programs, but primarily serves as a certified lender and advisor to small businesses.  One such program is the microloan program. <b>The microloan program provides loans up to $50,000 to U.S. based businesses</b>, with the average loan amount being around $13,000. This is an ideal program for many businesses who need less money than a typical business bank loan.  
        </p>

        <h3>Loan Guarantees</h3>
        <p>
          Another program is the <b>7(a) Loan Guarantee Program</b>. It is designed to assist entrepreneurs start or expand their businesses. As of 2010, the program makes up to $5 million available to small businesses through bank and non-bank institutions in the lending business. The <b>Small Business Jobs Act of 2010</b> permanently increased the maximum size of these loans from $2 million to $5 million.
        </p>

        <h3>Resource Centers Near You</h3>
        <p>
          As mentioned above, the lending business is not the only one that the SBA engages in.  There are many resource centers including: <b>900 Small Business Development Centers</b>, <b>110 Women's Business Centers</b>, and <b>350 chapters of volunteers</b> who provide free mentoring under the Service Corps of Retired Executives (SCORE) program.  The SBA has many other niche programs, particularly for women and minority businesses. 
        </p>
      </div>

      <div class="col-sm-5 grades">
        <h3><span class='text-muted'>Compare</span> <%= params[:action].underscore.titlecase %></h3>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">A</h1>
            <h3 class='text-center'>Cost</h3>
            <p class='text-muted'>Prime + 1 is a pretty good rate!</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">B-</h1>
            <h3 class='text-center'>Amount</h3>
            <p class='text-muted'>You get what you qualify for.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge text-center">B-</h1>
            <h3 class='text-center'>Timeline</h3>
            <p class='text-muted'>With all your <%= link_to "documents ready", "http://blog.bankmybiz.com/post/64411749413/the-best-way-to-expedite-the-loan-approval-process" %> its a 2-3 week turn around.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">C+</h1>
            <h3 class='text-center'>Terms</h3>
            <p class='text-muted'>All your business assets are up as collatoral.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="huge">C</h1>
            <h3 class='text-center'>Approval</h3>
            <p class='text-muted'>Must be a revenue positive 2 year-old business.</p>
          </div>
          <div class="col-xs-6">
            <h1 class="huge">C-</h1>
            <h3 class='text-center'>Exit Ease</h3>
            <p class='text-muted'>Easy to exit once the term is up, but exit before and you'll probably face a penalty.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'funders' %>
  </div>
</div>